[2018-04-24 08:15] IvanMalison commented on #276
Needs phadej/github#323

[2018-04-24 15:02] travitch commented on #270
I think that is probably the easiest approach for now, especially if gtk doesn’t
give us tools for constraining things properly.  It might be nice longer term to
cook up something, but it would be invasive if we have to manage it ourselves.

[2018-04-26 02:46] IvanMalison commented on #281
@travitch This is becoming quite annoying for me because I have to rebuild the taffybar-base docker image locally every time we have a dependency change (even just a simple version bump) I have to rebuild the base image locally (This shouldn't be necessary in theory, but for some reason, fetching the new package index hangs likely https://github.com/commercialhaskell/stack/issues/774). Normally, I

[2018-04-26 02:50] IvanMalison opened #292 "Move EWMH hook to its own package"
Our EWMH hooks module should really be in its own libarary, that doesn't require all of the dependencies that taffybar does. The fact that it isn't means that stack builds for xmonad that include this have to include the mountain of extra-deps that taffybar currently requires.

Once https://github.com/haskell/cabal/issues/4206 is completed we should separate the hook out into its own package.

[2018-04-26 03:03] IvanMalison commented on #291
This is fixed as of gtk-sni-tray 0.1.1.0

[2018-04-26 03:03] #291 closed

[2018-04-26 03:09] IvanMalison opened #293 "Use hslogger in Workspaces"
instead of the handrolled windowsLog solution

[2018-04-26 04:56] IvanMalison opened #294 "Add player icons to MPRIS2 Widget"

[2018-04-26 08:57] IvanMalison commented on #281
@travitch Hey. Thanks for moving the repository. I still can't seem to create a travis secret. I think it might be because I have the member role only right now.

[2018-04-26 20:31] IvanMalison commented on #281
@travitch hmm still seems to be an issue:

[code]

I think I may need to be made an "owner/admin" to be able to access these

The relevant code is here:
https://github.com/travis-ci/travis.rb/blob/master/lib/travis/cli/env.rb#L18

[2018-04-26 20:34] travitch commented on #281
You are already an admin on taffybar/taffybar - I don’t really see any other options for me to toggle

On Thu, Apr 26, 2018 at 08:31:33PM +0000, Ivan Malison wrote:

[2018-04-26 20:36] IvanMalison commented on #281
@travitch Are you sure? It still says I'm a member rather than an owner. Did you try this? https://help.github.com/articles/changing-a-person-s-role-to-owner/

[2018-04-27 10:07] patrickpichler opened #295 "Drawing artifacts systme tray"
Hi,

after upgrading to taffybar 1.0.2 i got this strange drawing artifacts in the system tray widget.

I'm sorry if this is the wrong place for this, but i have no idea where else to get help.

![2018-04-27-120202_174x32_scrot](https://user-images.githubusercontent.com/13838138/39357448-3aee6dd6-4a13-11e8-8261-dc786628ed93.png)

Here my taffybar config

[code]

[2018-04-27 17:37] IvanMalison commented on #295
Duplicate of #177 . The XEMBED system tray is deprecated (not just by use, but by pretty much everyone), so it is now recommened that you use our new SNI tray https://github.com/taffybar/taffybar/blob/master/src/System/Taffybar/Widget/SNITray.hs
See #109 for more details.

[2018-04-27 17:37] #295 closed

[2018-04-27 18:14] patrickpichler commented on #295
Thank you! I somehow missed that!

[2018-04-29 17:12] PierreR opened #298 "Taffybar fails to build in nixpackages"
The introduction of `haskell-gi` in v1.0.2 has been a huge change. Indeed `haskell-gi` does not work in `ghc-8.2.x` due to apparently a regression bug in ghc.

IMHO this kind of change need a version bump far greater than the mere third digit ... In nixos for instance, `taffybar` can't be built anymore (as the current default is still ghc-8.2.x).

I guess it is now too late but maybe for next time

[2018-04-29 17:35] IvanMalison commented on #298
@PierreR haskell-gi does work in ghc-8.2.x . Overloading is broken, but I was careful to avoid overloading. 1.0.2 has an important memory leak bug fix, but otherwise not changes in functionality. It was necessary to use gi-gtk to solve the issue, so I didn't have much choice in the matter, but I still think a point release version bump was the correct move here, since the changes are not backwards

[2018-04-29 17:44] IvanMalison commented on #298
Are you sure about this? Can you show me the failing build log. I literally just built master with 8.2.2 on my machine.

[2018-04-29 17:45] IvanMalison commented on #298
@PierreR IF it really is the case that this fails to build in nix os (using cabal/nix) why not just use stack to build, which will almost certainly work.

[2018-04-29 17:50] IvanMalison commented on #298
@PierreR See my comment here:

https://github.com/NixOS/nixpkgs/issues/37724#issuecomment-385268708

I think you may have misidentified the cause of the failed build.

[2018-04-29 18:54] IvanMalison commented on #45
We can use an approach similar to https://github.com/taffybar/taffybar/blob/337f131d1ee1e115600a375ce00b7a596ca302b6/src/System/Taffybar/DBus/Toggle.hs#L97

To only get this dbus connections at the point that it is actually needed (i.e. after widget initialization). This will also help us share the system dbus connection.

[2018-04-30 03:30] katandtonic opened #299 "Support icon theming in window icons in workspaces widget"
The icon theme that I've chose doesn't seem to take effect for the workspaces widget.

[2018-05-01 18:27] simlu opened #300 "Deb release?"
I'm not very experiences with this, so what needs to be done to get a deb file of the latest version up [here](https://pkgs.org/download/taffybar)?

Unfortunately the latest version available 4.6 doesn't seem to work nicely with ubuntu 18.04 lts

[2018-05-01 21:34] IvanMalison commented on #300
While we would welcome a contribution on this front. My position on this will always be that taffybar should be installed with stack or cabal, or from source. Generally speaking, installations from distributions have been more brittle and they have been slow to update. I don't really see what value they add either, except I suppose it avoids having to use a dedicated package manager. The thing is

[2018-05-01 21:51] simlu commented on #300
@IvanMalison I'm using ubuntu minimal cd version, and my problem is that it is really hard and inconvenient to use either one of the installation processes you described.

I need to install something like 2gb of dependencies to be able to install taffybar from cabal, while using deb I can just install it and it works. Just to put this in perspective this increases my disk usage for a blank install

[2018-05-01 22:08] IvanMalison commented on #300
All of the non-haskell dependencies that are needed for the cabal install will also be needed for the .deb, so I don't think your comparison is fair at all. Whether you use a .deb or not, you are going to need ghc installed, since taffybar depends on ghc to recompile your config. taffybar also needs most of its dependencies at configuration compilation time anyway. I'm not really sure how exactly

[2018-05-01 22:09] LeifW commented on #300
You'd be better off asking in a Debian-related forum. E.g. a mailing list for Debian packages, or a Haskell-specific subset of that, such as the "Debian Haskell Group".
If you go to the page for the package: https://packages.debian.org/stretch/taffybar
and click on the "Developer Information" link, you'll see that they already have a ticket open to update the package to version 1.0.2.
There's also

[2018-05-01 22:29] simlu commented on #300
@IvanMalison Thank you for your detailed response! I'm comparing virtual machine disk size between the two installations. So implicit or explicit install of dependencies shouldn't make a difference.

`taffybar has added some dependencies lately.` - so this might be the difference in the size that I'm seeing then?

`dpkg -i ...` installs some dependencies, but not nearly as much as when using the c

[2018-05-01 23:13] IvanMalison opened #301 "Make theming of Dynamic menu bar easier"
Right now things made from dynamic menu bar have default styling that looks pretty ugly. We should get rid of this, add some good default styling, and add classees that make it easy to provide custom styling.

[2018-05-03 01:12] #285 closed

[2018-05-03 07:17] IvanMalison commented on #281
The build is no longer broken because I found a fix to the Updating package index hang here:

https://github.com/commercialhaskell/stack/issues/3830#issuecomment-378751470

As such, this issue is no longer quite as urgent (but it will help us get build times now as more and more dependencies change)

[2018-05-03 08:35] IvanMalison opened #302 "Move remaining widget containing directories to Widget"

[2018-05-03 16:46] #302 closed

[2018-05-04 07:54] #59 closed

[2018-05-04 18:51] IvanMalison commented on #299
This might be useful https://specifications.freedesktop.org/icon-theme-spec/icon-theme-spec-latest.html

[2018-05-04 20:07] Tarrasch commented on #59
Nice to see some action! Good job! I will probably give Taffybar a try again.:)

[2018-05-04 20:20] #101 closed, assigned to nobody

[2018-05-05 05:05] IvanMalison opened #304 "xml/StatusNotifierItem.xml: openFile: does not exist (No such file or directory)"
taffybar-linux-x86_64: ClientError {clientErrorMessage = "xml/StatusNotifierItem.xml: openFile: does not exist (No such file or directory)", clientErrorFatal = True}

This is likely because status-notifier-item is does an unsafe perform IO to load that file. It is really only needed at compile time, so we can likely fix this issue by using

http://hackage.haskell.org/package/template-haskell-2.13.

[2018-05-05 06:38] IvanMalison opened #305 "Ampersands in window titles aren't handled properly"
```May 04 23:35:58 imalison-arch taffybar-linux-[3787]: Failed to set text 'Play icons - Download 22909 free & …' from markup due to error parsing markup: Error on line 1: Entity did not end with a semicolon; most likely you used an ampersand character without intending to start an entity - escape ampersand as &amp;```

[2018-05-05 06:42] IvanMalison commented on #294
Pretty happy about how well this worked out! https://imgur.com/a/zkRhnKu

[2018-05-05 07:05] IvanMalison opened #306 "Figure out how to make images size themselves to their allocations"
As we add more an more widgets that support icons to taffybar, I'm noticing that over an over I have to deal with the annoying problem of figuring out how to size the widget. It would be really nice if we could automatically adaptively resize widgets.

[2018-05-05 07:13] IvanMalison opened #307 "Add actions to MPRIS2 widgets"

[2018-05-05 07:16] IvanMalison opened #308 "Add styling tips section to README/docs"

[2018-05-05 07:18] IvanMalison opened #309 "The child-display variable is set to '(null)'"
May 05 00:17:29 imalison-arch taffybar-linux-[29479]: The child-display variable is set to '(null)' but there's a menu, odd?

[2018-05-05 07:32] #294 closed

[2018-05-05 07:43] IvanMalison opened #310 "Add configuration options to MPRIS 2 Widget"

[2018-05-05 08:55] #111 closed

[2018-05-07 19:41] PierreR commented on #298
@IvanMalison Thanks for your input.

The `haskell-gi` issue has been fixed. There is a new one specify to taffybar-2.0 that prevents the build to succeed:
https://github.com/IvanMalison/status-notifier-item/issues/1

[2018-05-08 16:21] krsch opened #311 "time dependency should be updated to >=1.8"
`src/System/Taffybar/Information/Network.hs` imports `Data.Time.Clock.System` which has appeared in time-1.8, but cabal file requires time>=1.4

[2018-05-08 17:06] IvanMalison commented on #311
@krsch Ahh good point. I'll update the dependency in hackage.

[2018-05-08 17:09] IvanMalison commented on #311
Updated in source and in hackage. 2.0.0 should work now!

[2018-05-08 17:09] #311 closed

[2018-05-08 20:35] IvanMalison commented on #298
See https://github.com/NixOS/nixpkgs/pull/40186

[2018-05-09 00:37] IvanMalison commented on #162
This tray is now deprecated, and the new SNITray does not have this issue

[2018-05-09 00:37] #162 closed

[2018-05-09 00:39] IvanMalison commented on #250
As mentioned in #251, probably best to simply use:

[code]

[2018-05-09 00:39] #250 closed

[2018-05-09 00:52] IvanMalison commented on #310
It should be possible to control how many players show up, what happens when the player icon/titile track is clicked, the length at which the artist/track should be truncated.

[2018-05-09 00:52] IvanMalison commented on #307
Closed in favor of #310

[2018-05-09 00:52] #307 closed

[2018-05-09 00:55] IvanMalison commented on #301
As for styling, we can do something like what I did here:
https://github.com/IvanMalison/dotfiles/blob/3d7049e2b59457a16d2e2ef8a7025f29c06786c9/dotfiles/config/taffybar/taffybar.css#L106

Making it easier to style is simply a matter of setting a class on the menu bar

[2018-05-09 01:19] IvanMalison commented on #235
@teleshoes does this issue persist for you on the latest versions? I still haven't really seen anything like this.

[2018-05-09 02:30] teleshoes commented on #235
this is unchanged. my taffybar crashes literally every day, though i havent tried WSS in awhile to compare

[2018-05-09 02:37] IvanMalison commented on #235
WSS doesn't exist any more, and there are a bunch of really significant changes in the latest version wrt how events are processed. Are you on 2.0.0?

[2018-05-09 02:45] teleshoes commented on #235
im on 1d089ea. i tried to build against master yday in fact, but i couldnt get haskell-gi to build for some reason. cabal install fails with a compilation error. havent looked into it too closely yet

[2018-05-09 02:48] teleshoes commented on #235
this is what i get when i try to simply build it from pkg-config:
[code]

this is what i get when i try to build gi-gtk binding explicitly:
[code]

[2018-05-09 02:54] teleshoes commented on #235
yea nevermind, was missing the devel header for libgirepository... sry! lll try to build now

[2018-05-09 02:56] IvanMalison commented on #235
@teleshoes are you on debian? if so, what version of gtk are you using?

Looking at the traceback above, I suspect that this could have to do with the gtk version that you have installed.

[2018-05-09 02:57] teleshoes commented on #235
now an actual problem i dont know how to instantly solve:
[code]

[2018-05-09 03:01] teleshoes commented on #235
yea, good call. i added `, haskell-gi-overloading == 0.0.*` to my cabal and it went away

[2018-05-09 03:31] teleshoes commented on #235
FINALLY got it to work.
1) in addition to what devel headers they say you need for `haskell-gi`, you ALSO need `libdbusmenu-gtk3-dev` and `libgirepository1.0-dev`. if thats in the docs, i couldnt find it
2) i needed to install `c2hs` as well, but cabal is nice enough to tell you this explicitly
3) im on ghc 8.2 and had to add `haskell-gi-overloading=0.0` to my build depends
4) widget renames and o

[2018-05-09 04:27] IvanMalison commented on #235
There's no more need for explicit dependency on pager. You can simply run `subscribeToEvents` if you actually have a need for something pager like.

Or do you mean the stuff that was in PagerConfig that affected ui? All of that has basically moved to its own config object for each widget.

The pager data type was trying to do way too many things. It was a config holder, registration handler, event

[2018-05-09 07:01] teleshoes commented on #235
yea, i agree with all the changes ive seen so far; its just a LOT of changes (and i do not need a pager)

[2018-05-09 21:12] teleshoes commented on #235
@IvanMalison took me 4 full hours, but i am FINALLY on taffybar 2.0.0!
gotta say, the code is much nicer, some really necessary cleanups.
also, icons are MUCH MUCH faster, especially now that i can skip parsing EWMH icons when i have a custom icon override.
otherwise, i have the identical set up, to the pixel.

well almost; the `Windows` widget appears to be completely broken, displays nothing at

[2018-05-09 21:58] IvanMalison commented on #235
Glad to hear it. Sorry that it took so long/there were so many changes, but I figured that doing all of the backwards incompatible stuff was probably the best way to approach this. The good news is that there shouldn't be tons more of these sorts of changes in the near future (other than the migration to gi-gtk for the core, which is actually already taking place).

Yeah, and they should get EVEN

[2018-05-10 03:37] teleshoes commented on #235
@IvanMalison yep, just a missing `widgetShowAll` ;)

[2018-05-10 03:40] IvanMalison opened #313 "Windows does not show without widgetShowAll"
This is because DynamicMenu does not show its widgets

[2018-05-10 03:41] IvanMalison commented on #235
Filed #313

[2018-05-10 03:44] teleshoes commented on #235
@IvanMalison thanks
ok, i will leave this setup alone for awhile, remove my auto-restart, and see how often i have to manually restart taffybar. heres hoping you murdered this issue while refactoring icons. thanks again!

[2018-05-10 03:44] IvanMalison opened #314 "SNITray does not show up in taffybar without widgetShowAll"
@dongcarl @kpbochenek @joshuap and others have reported that the SNITray does not show up when they add it to taffybar. I suspect that this is because it does not issue Gtk.widgetShowAll

[2018-05-10 03:46] IvanMalison commented on #235
@teleshoes you never told me which gtk version you are using. Are you on a version that is < 3.22?

[2018-05-10 03:50] teleshoes commented on #235
sorry i forgot: yes, im on debian. no, my gtk3 version is `3.22.30`

[2018-05-10 03:53] teleshoes commented on #235
btw, im optimistic about this issue being fixed; it already didnt crash today, though im not certain i didnt recompile midday

[2018-05-10 03:58] teleshoes commented on #261
@IvanMalison
also, for me, calendar opens half-hidden the first time you open it after restarting taffybar:
![calendar_first_open](https://user-images.githubusercontent.com/592062/39851418-a9d08a88-53e4-11e8-918d-8390b0b55b66.png)

opening again looks like normal, though still without avoiding struts:
![calendar_second_open](https://user-images.githubusercontent.com/592062/39851419-ae8f88da-53e4-1

[2018-05-10 04:04] teleshoes commented on #256
....easy? :D

[2018-05-10 04:09] IvanMalison commented on #256
@teleshoes
Well it is easy at this point, especially since we now have
System.Taffybar.Compat.GtkLibs for converting between gtk2hs and gi-gtk stuff.

I guess I should clarify that while it is easy, it is also a shitton of work.

My plan was to add a checklist for each module/widget that needs to be converted. Converting a single widget would be a pretty reasonable first contribution, I think.

Th

[2018-05-10 04:15] teleshoes opened #315 "cmdline args no longer passed through to taffybar exec"
cmdline args to cabal bin `taffybar` used to get passed through to the user's executable (i.e.: user's taffybar.hs `main`).

now i get a usage error. (i use this to put taffybar on the bottom of my screen every 60min to prevent burn-in on my plasma tv. i have workarounds, for instance just using the user exec)

perhaps this could be done explicitly, like `taffybar --log-level DEBUG -- --args --to

[2018-05-10 04:26] IvanMalison commented on #315
@teleshoes if you need to parse your own command line arguments, I would recommend simply building your own executable. Presumably, you already have your own cabal (and stack?) files in your taffybar directory, correct? All the taffybar executable does is call `dyreTaffybar defaultTaffybarConfig`, and handle that logging argument. I think its fair to assume that any user that is taking custom comm

[2018-05-10 04:33] IvanMalison commented on #193
@sakshamsharma I can't tell, can we fix this now with the changes that have occured in gtk2hs?

[2018-05-10 04:48] IvanMalison commented on #3
can anyone verify that this is still an issue?

@teleshoes ?

[2018-05-10 05:47] teleshoes commented on #315
@IvanMalison yea sounds good
i changed my wrapper to just use `~/.cache/taffybar/taffybar-ARCH` when restarting to avoid burn-in

[2018-05-10 05:48] #315 closed

[2018-05-10 06:29] IvanMalison commented on #315
@teleshoes Just so you know, the new advanced config could probably do the same thing that your wrapper is doing without forcing a restart of the process.

All you would need to do is write a barconfiggetter
https://github.com/taffybar/taffybar/blob/03b83ba6aba674fc9214d230c9faf2ec6fcb38e7/src/System/Taffybar/Context.hs#L81

that returns the appropriate bar config (depending on the current hour),

[2018-05-10 17:33] IvanMalison opened #316 "Generate/publish haddock documentation using Travis CI"
This will make it easier for users who build from master

[2018-05-10 18:07] #314 closed

[2018-05-10 18:10] joshuap opened #317 "Incorrect alignment of context menus in tray"
![image](https://user-images.githubusercontent.com/474649/39885842-8b47159c-5442-11e8-8273-23ab0adcba3e.png)

When I click on the dropbox icon, a context menu appears. It's almost entirely cut off by the edge of the screen, however. It would be ideal if it could detect the edge and flip the alignment of the menu to make it visible.

[2018-05-10 18:19] IvanMalison commented on #317
This one is a bit tricky because it actually needs to be fixed in https://github.com/taffybar/gtk-sni-tray .

An incremental step towards a complete solution might be to make the direction (from the icon widget) at which the context menu appears configurable.

Right now, that is actually hardcoded right here:
https://github.com/IvanMalison/gtk-sni-tray/blob/8a248da47a5ae39fd49b205c3a607f9b6dbe9c18

[2018-05-10 18:20] joshuap opened #318 "Icon spacing issues"
The big gap between the "game" and "tmp" workspaces is caused (I think) by the CSS padding on `.IconSpacing`:

![image](https://user-images.githubusercontent.com/474649/39886221-a4373e1e-5443-11e8-88c2-dd0409aa7f43.png)

How to reproduce:

1. Boot a fresh instance of `taffybar`
2. Launch a bunch of `kitty` terminals (or I assume any terminal which doesn't provide an icon) -- you will see the spaci

[2018-05-10 18:26] IvanMalison commented on #317
This issue is similar to #184

[2018-05-10 18:34] IvanMalison commented on #318
@joshuap Can you please post the taffybar.hs and taffybar.css that exhibits this behavior?

[2018-05-10 19:29] IvanMalison opened #319 "Provide an easy way to have a fallback icon for the Workspaces widget"
See discussion in gitter chat with @joshuap

[2018-05-10 19:46] IvanMalison commented on #318
Just in case this ever comes up again, here is the relevant chat log:
[code]

[2018-05-10 21:37] IvanMalison commented on #228
This definitely still happens, but its super rare. If anyone gets this frequently or predictable, please let me know

[2018-05-10 23:10] IvanMalison commented on #318
As I mentioned in the gitter chat, the fix that was put in place in #320 introduces a new issue:

Joshua Wood @joshuap 14:23
@IvanMalison I think I found another small issue with the CSS classes. When I switch between workspaces, the padding on the icons is shifting around slightly. It looks like maybe a .Normal class is added/removed when workspaces are changed?

Ivan Malison @IvanMalison 15:56
@

[2018-05-11 06:18] #304 closed

[2018-05-11 18:36] IvanMalison opened #321 "Backlight widget"
Add a backlight widget to monitor screen lighting

[2018-05-12 21:30] IvanMalison opened #323 "Provide a uniform interface to customizing generated text"
@bgamari Had a bunch of good ideas about how to do this in #99, that were never properly integrated into taffybar because they were for WorkspaceSwitcher, which has since been deprecated.

This is a problem that comes up all over taffybar, and the way that we currently solve it is by simply letting users provide custom functions to handle things. This works fine for now, but a solution more like t

[2018-05-12 21:32] IvanMalison commented on #318
@joshuap Think you can take a swing at fixing this or should I do it?

[2018-05-12 21:54] IvanMalison opened #324 "Use generated dbus client for battery information"
...as with mpris

[2018-05-12 21:55] IvanMalison opened #325 "Use IconName supplied for upower for battery widget"

[2018-05-12 23:25] joshuap commented on #318
Oh, I think I got it:

[code]

It looks like maybe the case in `possibleStatusStrings` is misleading:

https://github.com/taffybar/taffybar/blob/00e61b62212e0e5cb6d3fadf7930d70d96dbcee1/src/System/Taffybar/Widget/Workspaces.hs#L687

I noticed that "nodata" is lowercase here:

https://github.com/taffybar/taffybar/blob/00e61b62212e0e5cb6d3fadf7930d70d96dbcee1/src/System/Taffybar/Widget/Workspaces.hs

[2018-05-12 23:30] IvanMalison commented on #318
@joshuap yeah fix the casing and submit a PR

[2018-05-13 01:06] #318 closed

[2018-05-13 03:51] IvanMalison opened #327 "Handle reconnecting to dbus automatically"
I'm not 100% sure what will happen if either the system or session busses are killed, but I imagine that it is not handled well.

[2018-05-13 04:26] IvanMalison commented on #324
Fixed in 72ab4290adcbce761823d7c15393a63e54b1da57

[2018-05-13 04:26] #324 closed

[2018-05-13 04:28] IvanMalison commented on #148
@valderman This is sort of fixed in 72ab4290adcbce761823d7c15393a63e54b1da57

because we've switched to using the "DisplayDevice" for getting battery info (see https://upower.freedesktop.org/docs/UPower.html#UPower.GetDisplayDevice) This aggregates information from all batteries.

Is this the sort of thing you had in mind, or do you want to be able to actually view separate information about each

[2018-05-13 06:02] teleshoes commented on #235
i am SOLD. 4 machines running for 3 days without a single taffybar crash. i will re-open this if it happens again, but im pretty sure this is fixed in 2.0.0.
:D

[2018-05-13 06:02] #235 closed

[2018-05-13 06:37] IvanMalison commented on #235
@teleshoes that's awesome to hear!

[2018-05-13 09:47] IvanMalison opened #330 "Incorrect battery state (in Macbooks?)"
On my machine, all the battery widgets report their states incorrectly, because there seems to be a bug in firmware/upower that casues the state to be reported incorrectly:

https://bugs.freedesktop.org/show_bug.cgi?id=99518

[2018-05-13 10:05] IvanMalison opened #331 "Fix ghc 8.0 build"
See https://travis-ci.org/taffybar/taffybar/jobs/378284834

[2018-05-13 21:53] IvanMalison opened #332 "Add a FAQ section to README/Docs/Wiki"
Taffybar is starting to accumulate gotchas that could confuse new users:

* System and Session DBus must be running at startup
* status-notifier-watcher must be running for tray
* needs a compositor for transparency and rounded window corners
* quite a few non haskell dependencies that have different installation patterns on different distros

we should have an easily accesible FAQ section somewhe

[2018-05-13 21:55] IvanMalison commented on #330
It looks like this can be fixed by calling the Refresh method on any batteries immediately after a state change:

[code]

For more see
https://bugs.freedesktop.org/show_bug.cgi?id=79200

[2018-05-13 21:56] IvanMalison commented on #330
I think the approach that I will take to fixing this is to call refresh automatically on any state change with exponetial backoff and a 10 second max.

[2018-05-13 21:59] IvanMalison commented on #332
#330 should also be documented.

[2018-05-14 06:47] #330 closed

[2018-05-14 07:12] IvanMalison opened #333 "MPRIS Widget starts visible even when player is paused at taffybar start"

[2018-05-14 07:13] IvanMalison opened #334 "MPRIS Player icons do not work on some machines"

[2018-05-14 08:40] #305 closed

[2018-05-15 07:26] IvanMalison opened #335 "Add Network/WIFI widget"

[2018-05-15 19:11] clinty commented on #141
dbus 1.0.1 is in Nightly

[2018-05-15 19:25] anarcat commented on #141
i think the point of getting it into stackage is exactly that it makes life easier for downstream packaging, but i'm not an expert. :)

[2018-05-15 19:29] clinty commented on #141
It should be fine as long as all those packages are buildable with the rest, and if they aren't it's going to be impossible for Debian to have a taffybar newer than 0.4.6.

[2018-05-15 19:31] LeifW commented on #321
See comment on https://github.com/taffybar/taffybar/pull/289#issuecomment-389284054

[2018-05-15 19:42] IvanMalison commented on #141
@clinty Yeah, but the gi- stuff I think IS in stackage, just with an older version, so unless all of that gets bumped too, I think we're still blocked.

[2018-05-15 19:43] IvanMalison commented on #141
@clinty If you would like to try to add taffybar though, you are welcome to do so. You can link to this comment if anyone need verification of ownership blessing.

[2018-05-15 21:21] IvanMalison commented on #335
@LeifW Ahh hmmm. I thought almost everyone was using NetworkManager these days.

I'm not opposed to having a widget that uses iwlib for users who don't use network manager, but I have a really strong preference for eventing (mostly just for power consumption reasons), so I think I will probably also write a widget that uses network-manager.

Here's a thought:
Is there some file we could inotify on

[2018-05-15 21:23] IvanMalison opened #336 "Arch package is out of date"
@LeifW I know that a ton of dependencies have been added, that will make updating the package in the arch repos a chore (Though this is part of why I prefer not to have an arch package in the first place)

Just wanted to note this here so that people know that we are aware of the issue.

Do you think you can get 2.0.0 in the aur any time soon?

[2018-05-15 22:02] IvanMalison commented on #335
This could work (we would simply add a dbus send in each of the cases that would talk to taffybar), but I don't like that it means that users will have to manually start a script to make sure the updating would happen. Seems like it might just be easier to say "install network-manager and run it with systemd", and that seems like the more resilient option anyway.

I'm 90% sure that network-manager

[2018-05-15 22:37] LeifW commented on #335
It seems there's a variety of choices: https://wiki.archlinux.org/index.php/Network_manager

Sounds like the systemd-networkd service also supports running stuff on "interface state changes", e.g. networkd-notify or networkd-dispatcher: https://wiki.archlinux.org/index.php/Systemd-networkd#Interface_and_desktop_integration

I found the file /etc/dbus-1/system.d/wpa_supplicant.conf, which, judging

[2018-05-15 23:26] #331 closed

[2018-05-16 02:07] #333 closed

[2018-05-16 03:10] #334 closed

[2018-05-16 04:46] #306 closed

[2018-05-16 05:50] IvanMalison commented on #45
As of 72ab4290adcbce761823d7c15393a63e54b1da57, there is no BatteryContext, and no initialization of the dbus client occurs in the construction of the battery widget, so I would consider this issue to be fixed.

The battery widget is simply using the systemDbusClient provided by context, which IS still technically on the main thread at startup.

The issue described here https://github.com/taffybar

[2018-05-16 05:50] #45 closed

[2018-05-16 05:54] IvanMalison commented on #283
At this point, I'm staring to think that we might simply drop support for ghc < 8.0

[2018-05-16 17:01] clinty commented on #141
I could do that, but I'd be committing you and not myself to issue resolution.

[2018-05-16 17:53] IvanMalison commented on #141
@clinty sure that is fine

[2018-05-16 18:34] IvanMalison opened #337 "Setting windowIconSize to certain values can cause failures on startup"
If I set windowIconSize to 32 for example, taffybar will hang.

32 could be the exact size of workspace images and that somehow might be the cause of the issue.

More investigation is needed

[2018-05-16 18:47] IvanMalison opened #338 "Add a log formatter to taffybar, make colors etc controllable from the dbus interface"
Would be nice to see which modules message are coming from and such

[2018-05-16 19:07] IvanMalison opened #339 "SNITray forces square scaling of icons"
This can make certain icons look out of proportion

See https://github.com/taffybar/gtk-sni-tray/issues/9

[2018-05-16 19:33] #170 closed

[2018-05-16 21:25] #339 closed

[2018-05-16 22:51] #337 closed

[2018-05-16 22:58] IvanMalison commented on #228
@teleshoes hmmm I think I might have found the cause of this, even though I don't fully understand yet.

See #337
And the comment here:
https://github.com/taffybar/taffybar/blob/5ac1717213a91902166c385bb28711f9e17279f5/src/System/Taffybar/Widget/Workspaces.hs#L736

https://github.com/taffybar/taffybar/blob/5ac1717213a91902166c385bb28711f9e17279f5/src/System/Taffybar/IconImages.hs#L37

You can repr

[2018-05-16 23:02] teleshoes commented on #228
oh snap! that is bizarre, bizarre, bizarre

[2018-05-17 02:11] teleshoes commented on #228
very nice! instantly reproduced with chromium (`128x128`).
with `windowIconSize=128`, as soon as i select chromium, taffybar freezes.

this very likely explains why i havent seen the freeze in awhile: i switched `24x24` => `28x28` when i got a 1440p screen, and who uses 28x28?

[2018-05-17 02:13] IvanMalison commented on #228
@teleshoes Well it is fixed on master. I'll probably do a release soon as this is a very serious issue.

The behavior is the same as what you saw before right? So I think we can definitively say that we found the cause, right?

[2018-05-17 05:52] teleshoes commented on #228
looks like it to me! :D

[2018-05-17 06:27] IvanMalison commented on #148
@valderman I consider this fixed. You can reopen this or file a new issue if you actually want separate information for each battery, as opposed to information about all of them collectively

[2018-05-17 06:27] #148 closed

[2018-05-17 17:48] teleshoes opened #340 "taffybar crashes with TigerVNC"
straight-forward crash: `taffybar-linux-x86_64: Prelude.head: empty list`
happens when selecting the window.

does NOT happen when i override the icon with title/class selector, so presumably its a bug in generating the EWMHIcon. it looks like xtigervncviewer is setting _net_wm_icon to an explicitly empty list, which is probably a bug in TigerVNC.

would have just fixed it, but i cant get taffybar

[2018-05-17 17:54] IvanMalison commented on #340
@teleshoes
Hmmm, that is weird. what is the error message.

Nice, hopefully this will be an easy one.

[2018-05-17 18:06] IvanMalison commented on #340
@teleshoes the version of tiger vnc that i downloaded didn't have this issue. Is there any way you can confirm that this fixes it?

[2018-05-17 19:57] IvanMalison opened #341 "AutoSizeImage does not account for space taken away by padding"
See https://bugzilla.gnome.org/show_bug.cgi?id=789577 for more details

[2018-05-17 21:29] IvanMalison opened #342 "Clock widget does not respect CSS properties/sizing"
I believe that this was the actual cause of #341

[2018-05-17 21:48] #342 closed

[2018-05-17 21:58] #341 closed

[2018-05-18 03:50] IvanMalison opened #343 "Use menu button for dynamic menu"

[2018-05-18 05:31] IvanMalison opened #344 "Use auto size image in workspaces"

[2018-05-18 05:39] IvanMalison commented on #321
@LeifW Hows the progress on this?

[2018-05-18 06:08] #344 closed

[2018-05-18 06:18] IvanMalison commented on #332
icon sizing through css should be documented

[2018-05-18 06:18] IvanMalison commented on #332
* upower is required for battery info

[2018-05-18 06:21] colonelpanic8 opened #345 "Graph colors can't be themed with CSS"
This is because they are drawn directly with cairo.

It would be nice to make it possible

[2018-05-18 06:25] IvanMalison commented on #345
https://hackage.haskell.org/package/gi-gtk-3.0.23/docs/GI-Gtk-Functions.html#v:renderBackground is also a possibility

[2018-05-18 06:26] IvanMalison commented on #345
`styleContextGetColor` could be used for the foreground color

[2018-05-18 07:10] LeifW commented on #332
dbusmenu-gtk3 is a new C library requirement by way of gi-dbusmenugtk3

[2018-05-18 19:30] clinty commented on #141
This is being held up by xmonad{,-contrib} issues.

[2018-05-18 19:38] simlu commented on #141
@clinty what's going on? Do you have a link?

[2018-05-18 19:47] clinty commented on #141
So at least there's

https://github.com/xmonad/xmonad/issues/155
https://github.com/xmonad/xmonad/issues/170
https://github.com/xmonad/xmonad-contrib/issues/255

[2018-05-18 19:54] IvanMalison commented on #231
It seems that none of the recent issues have resolved this issue :(
[code]

[2018-05-18 20:07] IvanMalison opened #346 "Update taffybar's default theme to be a little nicer looking"

[2018-05-18 20:57] #343 closed

[2018-05-18 20:57] #301 closed

[2018-05-18 21:17] LeifW commented on #321
I pushed what I have so far to https://github.com/taffybar/taffybar/pull/347

Design question: There I just return the first thing matched by "backlight" subsystem on udev. Could there be multiple? Multiple monitors? None?

Also, I called it "Brightness", but either name is fine with me.

[2018-05-18 21:24] colonelpanic8 opened #348 "Support live reloading of css config"

[2018-05-18 22:57] IvanMalison opened #349 "Rewrite the Workspaces widget"
Workspaces is taffybar's most complex widget, and I wrote it at a time when I had not yet established some of the best practices that I have put in place today. It desperately needs a rewrite (not only because it still uses gtk2hs). Here is a breakdown of what needs to be done:

- [ ] Separate X11 event logic and construction of workspace data from updating of the UI
- [ ] Use a record instead of

[2018-05-18 23:58] IvanMalison opened #350 "Certain workspace icons seem to cause bar size increases"

[2018-05-19 17:26] teleshoes commented on #231
:(

[2018-05-19 17:35] teleshoes commented on #340
finally have a free minute. the compilation error was that `windowIconSize` doesnt exist anymore. im looking at the code now to see what im supposed to do to set the size

[2018-05-19 17:46] teleshoes opened #351 "windowIconSize removed/Add a way to configure AutoSizeImage behavior"
afaik, you cant scale images with css in GTK. please put this essential property back.
if i am wrong, please just provide the CSS i need to add.

if you like, you can add it as a percentage of barHeight, so that we arent actually adding any new parameters. @IvanMalison

[2018-05-19 17:53] IvanMalison commented on #351
@teleshoes you can size icons with css by adding
padding, margin or border to the .AutoSizeImage class.

The image will always expand to fully fit the space that is allocated to them, so I suppose that the sizing is somewhat indirect. If you really want me to add the parameter back I suppose that I can, but it will substantially complicate the code.

[2018-05-19 18:00] IvanMalison commented on #351
Of course, #350, maybe be an issue when you do this (I would appreciate if you could verify this), but I am working on fixing that right now.

[2018-05-19 18:14] teleshoes commented on #340
@IvanMalison
confirmed THIS issue is fixed. before, clicking on a tigervnc window crashed taffybar; now, no icon is present.
i also added a workaround in my code to override any empty EWMH data with a placeholder image so the workspace doesnt look empty.

however, i added an issue about reverting `3f367c5`, since i dont know of any way to repace windowIconSize with CSS. hopefully you have some mag

[2018-05-19 18:18] IvanMalison commented on #340
@teleshoes did you see my response in #351? you can size images by adding padding to the AutoSizeImage class

[2018-05-19 18:38] teleshoes commented on #351
i dont understand; why would i want to shrink the images but not shrink the container?
the problem is that the images are too big.

[2018-05-19 18:38] teleshoes commented on #351
@IvanMalison perhaps i AM seeing #350, but its literally all of my images

[2018-05-19 18:59] IvanMalison commented on #351
@teleshoes if you want to shrink the container, pad the container. If you want to shrink the bar, decrease the bar size.

[2018-05-19 19:01] IvanMalison commented on #351
You wouldn't see #350 at startup. It happens when certain icons are added after startup. Still working on identifying the exact cause, but you would see the bar/icon size increase when opening certain windows.

[2018-05-19 19:02] teleshoes commented on #351
yea. perhaps i am missing something, or i am confused. let me show you what i see before and after your changes:
case1, dcd014e (before auto-resize), with barHeight=50 and windowIconSize=28
![before](https://user-images.githubusercontent.com/592062/40272037-a953ef90-5b74-11e8-9182-b928f08493d8.png)

case2, 00b9308 (after windowIconSize removed), with barHeight=50
![after](https://user-images.githu

[2018-05-19 19:06] teleshoes commented on #351
so, what i want is to have smaller icons, without having empty space surround them, and i dont see any way to do this with GTK css, which, afaik, doesnt let you shrink things ever.

[2018-05-19 19:12] teleshoes commented on #351
in case im crazy, i did try all combinations of padding/border/margin on all three of these classes:
`IconImage`, `IconContainer`, and `AutoSizeImage`.

-padding AutoSizeImage does in fact shrink the image, which is cute (i like AutoResizeIcon, its a nice piece), but then i just have padding instead of icon.
-adding negative margins to AutoSizeImage does what you would expect (zooms in on the imag

[2018-05-19 19:15] teleshoes commented on #351
so, afaik, scaling the image to fit the container only solves my problem if i can shrink the container, which i cannot (or at least, i dont know how to).

[2018-05-19 19:15] IvanMalison commented on #351
@teleshoes hmm. That is strange. Are you using GDK scale or something.

Can you enable the autosize logger and the StatusNotifier.Tray logger with

https://github.com/IvanMalison/dbus-hslogger
and let me know what gets logged?

[2018-05-19 19:17] IvanMalison commented on #351
@teleshoes What I meant by shrink the container is to use the .Contents class as in the default taffybar css, but there is a problem here seems to go beyond just being able to resize the images.

The images should be sizing themselves to whatever allocation they are given.

Can you verify that this happens immediately at startup?

[2018-05-19 19:18] IvanMalison commented on #351
@teleshoes you'll need to apply withLogServer for dbus-hslogger to work

then, after taffybar is started you can run

[code]

[2018-05-19 19:18] IvanMalison commented on #351
to pull the appropriate logs

[2018-05-19 19:30] IvanMalison commented on #351
@teleshoes
That is fine, padding should be able to accomplish this.

You can shrink things, when they obtain a certain size by expanding to the size of their parent by setting padding on their class. You need to have a container wrapping that object in order to do that, of course, but it is definitely possible.

Not true, I will post an example.

[2018-05-19 19:34] teleshoes commented on #351
also, to be clear, AutoSizeImage is working. if i pad the container, the icon shrinks.
![padded](https://user-images.githubusercontent.com/592062/40272376-212d7e0a-5b7a-11e8-829b-1832690b901f.png)

[2018-05-19 19:35] IvanMalison commented on #351
The first image is normal, the second image shrinks the icons, the third image shrinks workspaces

https://imgur.com/a/XXTWEhZ

[2018-05-19 19:36] IvanMalison commented on #351
you can shrink workspaces with
[code]

[2018-05-19 19:43] teleshoes commented on #351
yes, you are correct, and i was very wrong! thanks for the lesson!
however, i dont want the entire workspaces widget padded, if you see what i mean here:
![resized](https://user-images.githubusercontent.com/592062/40272445-f20f75aa-5b7a-11e8-9b01-1e60c52bfd2d.png)
probably a matter of just setting a more specific CSS rule

ALSO, i do have what appears to be the bug in 350, but instantly at startup

[2018-05-19 19:45] teleshoes commented on #351
to be clear, the second image in your demo is what i want. icons and workspace width are decreased, but there is no empty padding around the entire widget

[2018-05-19 19:46] teleshoes commented on #351
whats the difference in CSS between demo#1, and demo#2?

[2018-05-19 19:51] IvanMalison commented on #351
@teleshoes so you want the border to extend to the edge of the bar, but not the contents?

You can use the

.Contents class for that. If you don't want any left or right padding, you can do:
[code]

[2018-05-19 19:53] IvanMalison commented on #351
@teleshoes if you pad .IconContainer instead of .AutoSizeImage you will avoid #350 for now

[2018-05-19 20:15] IvanMalison commented on #351
@teleshoes does using .Contents work? Can I close this?

[2018-05-19 21:16] teleshoes commented on #351
` so you want the border to extend to the edge of the bar, but not the contents?`
that does not sound like what i want, actually. what i want is to have nothing between the top of my icon and the top of my screen except my 2px orange border.
(likewise, nothing between the label of my first workspace and the left of my screen except a 2px border)

this is approximated by:
[code]

but then my bar is

[2018-05-19 21:30] teleshoes commented on #351
like you say, i can also approximate this by:
[code]
but then i lose the bottom border.

ALSO, either way, my bar is still increased in height from what it was before.

i am not yet convinced that i can get what i had before only by applying CSS.

[2018-05-19 21:40] teleshoes commented on #351
SHIT, the problem with the barHeight is the `Windows` widget, not the `Workspaces` widget. my apologies.

ill see if i can make this work now, though i would really MUCH prefer having `windowIconSize`.

the reason i prefer a haskell var is that i have 4 computers with different resolutions and physical monitor sizes, all running the same taffybar config. generating dynamic CSS instead of setting a

[2018-05-19 21:40] teleshoes commented on #351
(not sure what changed in `Windows`, but im going to revert to a simple label widget for it now.)

[2018-05-19 21:43] teleshoes commented on #351
turns out `padding-top==padding-bottom==9px` is what i want for `bar=50px` and `desired-icon-size=28px`. ill play with it and come up with a formula, and see if i can generate the dynamic CSS.

[2018-05-19 21:45] IvanMalison commented on #351
This is what I said above.  I think you windows widget is slightly too large for you bar somehow (maybe because the label has a newline in it)

right, I have the same issue. The idea behind this change, though is that the only thing that you would have to change between computers is the bar size. I suppose that you would need to adjust the padding values as well.

How about this:

We'll add a way

[2018-05-19 21:51] IvanMalison commented on #351
@teleshoes Don't do that. I'd like to come up with a solution that makes sense for your use case, and is going to be easy to understand and work with for everyone.

[2018-05-19 21:53] teleshoes commented on #351
yep, that sounds ideal!

sorry i missed when you said, probably thought you typed `Workspaces` instead of `Windows`

btw, my profiles currently have 7 variables:
[code]
(each has a different DPI as well as resolution, plus one is a 65" screen that is 6' away)

wImgH will become something like image-offset-percent or something.

[2018-05-19 21:55] teleshoes commented on #351
as for windows, though, i dont see what changed in the last few commits to cause the problem, but its not there before AutoSizeImage

[2018-05-19 21:56] teleshoes commented on #351
also, if things work out, that variable might disappear from my profiles, and be fully defined by barHt

[2018-05-19 22:40] IvanMalison commented on #351
@teleshoes Windows is now a button, rather than a menu bar (see #343)

[2018-05-19 22:55] IvanMalison opened #352 "Use Proper Broadcast channel/0 reader spaceleak"
such as https://github.com/merijn/broadcast-chan

the current approach (that uses dupChan to simulate a broadcast channel has a zero reader space leak)

[2018-05-20 04:58] IvanMalison opened #353 "USe dash case for css selectors"

[2018-05-20 05:14] #350 closed

[2018-05-20 05:37] #353 closed

[2018-05-20 07:17] LeifW commented on #321
I don't think it would be that much to support multiple items in the "backlight" class - that "udev enumeration" returns a sort of list - see https://pyudev.readthedocs.io/en/latest/guide.html#enumerating-devices
I imagine you'd want them to have names in that case so you can disambiguate. I was going to plug in an external monitor and see if I get another device of type "backlight".
Perhaps a `[(

[2018-05-20 09:02] IvanMalison opened #354 "Struts have effects on monitors other than the ones one which they were placed"

[2018-05-20 09:04] #354 closed

[2018-05-21 05:59] IvanMalison commented on #184
The issue is somewhat different now (though it remains). The menu now correctly orients itself upwards, but because it is filled dynamically (upon click) gtk does not seem to guess the size of the menu correctly, and so if windows have been added or removed since the menu was last clicked, its position will not be adjusted to compensate for the new size that the menu items add.

One way to fix thi

[2018-05-21 06:05] IvanMalison commented on #158
the more I think about this, the more I feel  that it is something of a non issue.

You can use something like

https://hackage.haskell.org/package/stack-run

in conjunction with your .cabal and stack.yaml files (that you will have if you are stack compiling anyway) to run taffybar simply enough.

In a way, it is a better solution because it gets rid of the dyre dependency anyway.

[2018-05-21 06:09] IvanMalison commented on #158
@sakshamsharma The hack to fix this (for now) is to use the package imports language pragma.

[code]

And then import any gtk stuff as folows:

[code]

Alternatively, as mentioned in the comment above, you can use `startTaffybar` instead of `dyreTaffybar` and avoid the automatic recompliation entirely

[2018-05-21 19:25] IvanMalison commented on #158
I think that the best approach to this is going to be what I describe in https://github.com/yamadapc/stack-run/issues/16

Basically, the idea is to skip dyre entirely when the user has a stack.yaml and cabal and simply rely on stack to detect the need for recompilation.

[2018-05-21 19:58] #346 closed

[2018-05-21 21:46] silasdavis opened #355 "Start status-notifier-watcher automatically in SNITray"
Forgive my ignorance - I feel like this ought to be debuggable from this repo (
https://github.com/taffybar/gtk-sni-tray), but I've spent several hours and would just like my taffybar working again

When running with the example config provided here: https://github.com/taffybar/taffybar/blob/master/taffybar.hs.example I get the following error resulting from the use of `sniTrayNew`:

[code]

I'm r

[2018-05-21 21:54] IvanMalison commented on #355
@silasdavis No worries this is actually something that comes up quite often because the documentation is not yet clear enough about some details.

Read this: https://github.com/taffybar/gtk-sni-tray#statusnotifierwatcher . Basically, you need to start a StatusNotifierWatcher from https://github.com/IvanMalison/status-notifier-item in order for the tray to work.

I think that I might start starting

[2018-05-21 22:07] IvanMalison commented on #299
https://stackoverflow.com/questions/5810399/how-to-get-icon-icons-path-of-running-app-in-linux-windows

[2018-05-21 23:31] IvanMalison commented on #299
I think the best way to approach this is going to be to use https://developer.gnome.org/libwnck/stable/

[2018-05-22 22:07] IvanMalison opened #356 "Border/padding/margin size not accounted for with taffy-box"

[2018-05-22 22:10] #356 closed

[2018-05-23 01:49] LeifW commented on #321
I don't believe support for multiple "backlight" devices will really be necessary. It seems to refer just to the laptop's internally managed display. Having multiple is something of a rarity, and apparently just refers to multiple drivers for the same screen: https://askubuntu.com/questions/94716/2-folders-in-sys-class-backlight
I plugged my laptop into an external display with a USB-C -> HDMI ada

[2018-05-23 01:55] IvanMalison commented on #321
@LeifW Yeah I'm not too worried about multiple devices for a v1 anyway. Just put some TODO or XXX comments in and punt on it for now?

[2018-05-23 02:00] LeifW commented on #336
Taffybar now depends on gtk3-0.14.9. The version in [community] is currently 0.14.8. I reported it out of date, and version 0.14.9 is currently in [community-testing], so we should see it in [community] soon.
https://www.archlinux.org/packages/community-testing/x86_64/haskell-gtk/

[2018-05-23 02:05] IvanMalison commented on #336
@LeifW There's nothing else you need to do? e.g. is gi-libdbusmenu and the like all in there already?

[2018-05-23 04:17] LeifW commented on #355
So, I start [status-notifier-watcher](https://github.com/IvanMalison/status-notifier-item) first so I can start taffybar. It seems I also need to start [xembedsniproxy](https://aur.archlinux.org/packages/xembed-sni-proxy-git/) to get the tray icons to show up.

We might be able to have a systemd DBus service registered at "org.kde.StatusNotifierWatcher" to get systemd to automatically launch "stat

[2018-05-23 04:56] IvanMalison commented on #355
@LeifW You only need xembedsniproxy if you want xembed tray icons to show up.

There is already a way to start the watcher automatically with the startWatcher parameter to the host params when we start the host object. gtk-sni-tray-standalone does this here:

https://github.com/taffybar/gtk-sni-tray/blob/master/app/Main.hs#L164

we would just need to do the same thing here:

https://github.com/taf

[2018-05-23 04:59] IvanMalison commented on #355
I think the best thing to do might be to make a function:
[code]

for people that simply don't want to bother setting the watcher up, just so that they are aware that doing so doesn't always behave well.

[2018-05-23 06:49] IvanMalison commented on #299
This will likely happen as part of #349. Looks like we need gi-wnck

[2018-05-24 04:50] IvanMalison opened #357 "Workspaces: show window title on hover"

[2018-05-24 08:14] IvanMalison commented on #317
@joshuap This doesn't happen for me, are you using snitray or the old systray?

[2018-05-25 23:19] joshuap commented on #317
@IvanMalison I'm using snitray.

[2018-05-26 23:20] LeifW opened #358 "Segfault on GHC 8.4.{1, 2, 3}"
[code]

It's enough to change focus between on-screen windows a few times to trigger this.

Tested on current master e38648759d76840e651fb6cd5ccdc5788f2e2559.

GHC 8.4.2, on an Arch system that's up-to-date as of today.

Could be some GHC 8.4 bug? Perhaps some change in assumptions around memory management across the C FFI?

[2018-05-26 23:30] IvanMalison commented on #358
@LeifW Can you set log level to DEBUG and run. Might help give us a sense of where things are crashing.

[2018-05-26 23:45] LeifW commented on #358
I copied the [logDebug](https://github.com/IvanMalison/dotfiles/blob/master/dotfiles/config/taffybar/taffybar.hs#L90) from your taffybar.hs, and switched focus back and forth between two windows until it crashed:
[code]

[2018-05-26 23:51] IvanMalison commented on #358
Hmm: looks like it might be an issue with window images. What happens if you disable window images completely?

[2018-05-28 01:18] tonymorris opened #359 "Weather URL is broken"
The weather widget will not work because the URL is no longer valid.

Any instance of

`"http://weather.noaa.gov/pub/data/observations/metar/decoded/"`

needs to be replaced with:

`"http://tgftp.nws.noaa.gov/data/observations/metar/decoded/"`

[2018-05-28 02:31] #299 closed

[2018-05-28 02:31] #319 closed

[2018-05-28 02:31] #351 closed

[2018-05-28 02:33] IvanMalison commented on #351
@teleshoes `constantScaleWindowIconPixbufGetter` should allow you to go back to scaling windowImages to a constant size in haskell (if you prefer doing that to auto size)

It would also be very easy to scale the icon to some proportion of the allocated size using very similar code (I'm sure you can figure out by looking at the definition of `constantScaleWindowIconPixbufGetter`

[2018-05-28 02:35] IvanMalison opened #360 "Cache desktop entries so that performance of getWindowIconFromExactClass improves"

[2018-05-28 09:33] #355 closed

[2018-05-28 09:35] IvanMalison commented on #355
@silasdavis You can now use `sniTrayThatStartsWatcherEvenThoughThisIsABadWayToDoIt` if you don't want to try to figure out how to separately run a watcher process. As the name suggests, this is not the recommeneded way to do it, but should work.

@LeifW That sounds like a good idea, but is kind of a separate issue.

[2018-05-28 21:34] IvanMalison commented on #228
This still seems to happen for me. The previously found cause seems to be a red herring.

[2018-05-28 21:44] IvanMalison opened #361 "Fix inaccurate/missing docstrings that can be found throughout the project"

[2018-05-29 01:29] IvanMalison opened #362 "Handle icon theme changes without restart"

[2018-05-29 17:42] GregorySchwartz opened #363 "Missing xml"
Cannot compile from Hackage:

`dbus-xml/org.freedesktop.UPower.Device.xml: openFile: does not exist (No such file or directory)`

I think all of the files in `dbus-xml` need to be added to the cabal file.

[2018-05-29 18:00] #363 closed, assigned to nobody

[2018-05-29 18:01] IvanMalison commented on #363
@GregorySchwartz in the mean time, you should be able to install from source pretty easily

[2018-05-29 18:01] IvanMalison commented on #363
I'll do a release soon

[2018-05-30 04:11] LeifW commented on #358
Like set `getWindowIconPixbuf` on `WorkspacesConfig` to `const $ const $ pure Nothing`? I tried that, and get no window icons, but it still crashes. I removed "workspaces" entirely, and it still crashes.
I also changed `logDebug` to:
[code]

[code]

One time it seemed to last longer, and I got this instead of a segfault.
[code]
Compiling GHC 8.4.3 right now to see if that'll make a difference.

[2018-05-30 04:37] IvanMalison commented on #358
The logging you put there still seems to be using images for something. Can you try using a config with like only a clock or something like that?

[2018-05-30 06:35] LeifW commented on #358
I can use what was an older version of the included taffybar.hs.example: `startWidgets = [ workspaces, layout, windows, note ], endWidgets = [  clock, mem, cpu, wifi ]` with no crashes. But with either a `batteryIconNew` in there or `textBatteryNew "$percentage$ : $time$"`, I get the segfaults on GHC 8.4.2.

[2018-05-30 06:49] IvanMalison commented on #358
Hmm. that's interesting. That suggests that the issue is something on the dbus side of things with the battery. No idea what that could be. Can you try only enabling the logger for the information battery module?

[2018-05-30 20:13] LeifW commented on #358
I installed GHC 8.4.3, and can now run taffybar with either the text battery or batteryIconNew, without it crashing.
I'm guessing it was this thing they mentioned in the 8.4.3 release notes:

- A code generation bug resulting in crashing of some programs using UnboxedSums has been fixed [(#15038)](https://ghc.haskell.org/trac/ghc/ticket/15038).

That issue, while not mentioning segfaults, does men

[2018-05-30 21:19] IvanMalison commented on #358
@LeifW Ahh, yeah that makes sense. We definitely are using template haskell for the battery stuff, but we AREN't using UnboxedSums AFAIK.

[2018-05-30 21:20] IvanMalison commented on #358
Can we close this?

[2018-05-30 22:06] LeifW commented on #358
Sure. I expect other people to hit this, though - GHC 8.4.2 is the current version provided by Arch. I've flagged it as out-of-date.
In the meantime, I suppose people using Arch's GHC package can either avoid certain features, install it with a different version of GHC, or run it as e.g. a systemd user service set to auto-restart on crash?

[2018-05-31 05:42] LeifW commented on #358
Curiously enough, if I directly launch `$HOME/.cache/taffybar/taffybar-linux-x86_64` (and that file was definitely built with GHC 8.4.3), it segfaults. But if I launch `taffybar` (built with 8.4.3), which in turn launches that file, then it does not segfault.
I'm confused.

[2018-05-31 05:48] IvanMalison commented on #358
@LeifW Sounds like a timing/threads thing. I'm assuming this still only happens when you use the battery module, correct?

[2018-05-31 10:55] puffnfresh commented on #298
I've submitted https://github.com/haskell-gi/haskell-gi/pull/172 and https://github.com/NixOS/cabal2nix/pull/353. I'm not sure which is the appropriate place to make the change but either should work. Both are better than changes directly in nixpkgs.

[2018-05-31 10:56] puffnfresh commented on #298
After getting past haskell-gi, we hit the command line argument limit known issue.

[2018-05-31 11:01] puffnfresh commented on #298
I can get past that problem with:

[code]

But there's yet another problem:

[code]

[2018-05-31 11:16] puffnfresh commented on #298
Which is because that file isn't in the Hackage source! https://hackage.haskell.org/package/taffybar-2.1.0/src/

[2018-05-31 11:16] puffnfresh commented on #363
Thanks @IvanMalison. A release would be very useful :heart:

[2018-05-31 11:17] puffnfresh commented on #298
https://github.com/taffybar/taffybar/issues/363 already fixed, awaiting a release.

[2018-05-31 19:18] IvanMalison commented on #298
@puffnfresh Just published a new release

[2018-05-31 22:46] IvanMalison commented on #298
@puffnfresh Any idea how I might leverage strictDeps to fix the stack build, which seems to run in to the same issue?

[2018-05-31 23:05] puffnfresh commented on #298
@IvanMalison no sorry, I don't even understand `strictDeps` from nixpkgs but I can just confirm that it fixes the problem.

[2018-05-31 23:08] IvanMalison commented on #298
@puffnfresh Hmm I'm actually in the process of migrating to nixOS from arch right now, but I can't get taffybar working at all. Can you share your config maybe?

[2018-05-31 23:20] puffnfresh commented on #298
I've got taffybar in my systemPackages:

https://github.com/puffnfresh/nix-files/blob/8d836a60cbf9769af6fab9d8a5632de0a965d5c0/carbon-x1-gen2/configuration.nix#L50

And in my XMonad extraPackages:

https://github.com/puffnfresh/nix-files/blob/8d836a60cbf9769af6fab9d8a5632de0a965d5c0/carbon-x1-gen2/configuration.nix#L73

Then some Taffybar stuff somewhere in my xmonad.hs

[2018-06-01 02:38] dongcarl commented on #336
@IvanMalison @LeifW I believe haskell-gtk got updated recently to 0.14.9, gi-libdbusmenu isn't in AUR or packages yet.

[2018-06-01 02:44] IvanMalison commented on #336
@dongcarl yeah, using the arch package isn't recommended at this point. You are much better off using stack ATM

[2018-06-01 16:16] clinty commented on #141
Word on the street is that a volunteer is needed to cut releases for xmonad and xmonad-contrib

[2018-06-03 09:13] puffnfresh commented on #298
@IvanMalison I'm currently running something like:

[code]

From nixpkgs master. I've had to work around a few other bugs with master, but this might work for you!

[2018-06-03 19:45] ssbb opened #365 "pagerHints import when using stack"
Hi!

I can't get it working on XMonad side - `System.Taffybar.Support.PagerHints` module not found. Both are installed with stack. Tried installing taffybar with both script (to `.config/taffybar`) and via `stack install taffybar`. Also tried to use same resolver as XMonad installation.

Is this module required at all now? I am new at Haskell and stack specifically. Maybe is there something I can

[2018-06-03 20:27] IvanMalison commented on #365
@ssbb Hope that answers your question. If you have any more one off questions like this, feel free to drop in to the gitter channel to taffybar https://gitter.im/taffybar/Lobby.

That's generally a better way to ask questions, since I'm more likely to respond immediately and it doesn't clutter the issue tracker.

[2018-06-03 20:36] #365 closed

[2018-06-03 20:51] IvanMalison commented on #298
@puffnfresh ah I see, you are installing form nixpkgs master.

The strict deps option hasn't even appreared in the unstable channel yet, and I'm not sure I want to switch to using the git master. I suppose it is worth a shot though.

[2018-06-03 21:06] PierreR commented on #298
@IvanMalison FWIW you can keep your system on the stable channel and pin to a precise nixpkgs commit to build taffybar. That's what I am doing.

[2018-06-03 21:10] IvanMalison commented on #298
@PierreR Cool. I'm new to nix. How exactly do you do that?

[2018-06-03 21:15] IvanMalison commented on #298
@PierreR Found some info here: https://nixos.wiki/wiki/FAQ/Pinning_Nixpkgs

[2018-06-03 21:43] PierreR commented on #298
@IvanMalison Here is some extra info from my note: http://pierrer.github.io/notebook/#_nix (search for "Pinned a version of nixpkgs"). with recent version of nix `fetchTarball` is usually the way to go.

[2018-06-04 06:59] IvanMalison opened #367 "Could not load a pixbuf from..."
**Describe the bug**
Taffybar crashes with the following message:
[code]

**To Reproduce**
No known repro

**Version information**
2.1.1 installed with stack on NixOS with nix support enabled

[2018-06-04 07:06] IvanMalison commented on #298
See my comment https://github.com/NixOS/nixpkgs/issues/40013#issuecomment-394254761. I suspect that the latest commits that I have pushed may be getting us close to a solution!

[2018-06-04 08:13] PierreR commented on #298
@IvanMalison I have managed to get `taffybar-v2.1.1` up and running on nixos following @puffnfresh recipe and using this pinned info:
[code]
But I still need to adjust the default UI which is really awful for me. I don't know why it is suddenly so big ;-)
![taffybar](https://user-images.githubusercontent.com/93115/40905979-ca44c4aa-67df-11e8-9f5b-5a896799eea3.png)

[2018-06-04 14:03] PierreR commented on #308
I would love this ;-)

After tweaking the css for a while I have got the following result:
![taffy2](https://user-images.githubusercontent.com/93115/40921536-f80dfd04-680f-11e8-9f04-4cc43c398984.PNG)
Do you know why the menu (I am not sure about how to call it) has such a background ?

[2018-06-04 16:53] IvanMalison commented on #298
Are you using the default config? Looks like you have some bar padding. You can turn that off by adjusting the barPadding value in your config.

[2018-06-04 18:39] ssbb commented on #365
@IvanMalison thank you for quick answer and really good explanation 👍

Yeah, I am installed it via stack using this guide: https://brianbuccola.com/how-to-install-xmonad-and-xmobar-via-stack/

Thought it have dependencies on taffybar itself but looks like easier approach. Thank you! 👍

[2018-06-04 19:34] IvanMalison commented on #365
@ssbb The reason the example posted in the link works is because they clone xmobar into a local repository and explicitly add it to the stack.yaml file they are using. you could do something simialr with taffybar.

[2018-06-04 23:39] IvanMalison opened #368 "Add window icons to the Windows widget"
...

[2018-06-05 09:06] IvanMalison commented on #228
This has gotten worse since the new method of looking up icons has been introduced. No idea why though.

[2018-06-05 17:59] IvanMalison commented on #332
@LeifW That one is already mentioned in the Prerequisites section of the README.

[2018-06-05 18:00] IvanMalison commented on #332
* If starting though systemctl in nixos, XDG_DATA_DIRS and GDK_PIXBUF_MODULE_FILE must be imported

[2018-06-07 02:26] cumber opened #369 "With multiple monitors, workspace icons jump around to follow focus"
**Describe the bug**

I use two monitors, and switch which workspace is shown on each monitor independently. What appears to be happening is that the set of all applications visible on both monitors (across whichever two workspaces happen to be visible) have their icons shown in the workspace widget as if they were all in the workspace of whichever monitor has the focus.

Applications on workspace

[2018-06-07 04:01] IvanMalison commented on #369
On my phone right now, but see #239. I'll give more details in a but, but this actually has to do with xmonads ewmh impl.

[2018-06-07 04:09] IvanMalison commented on #369
I fixed the issue in xmonad's ewmh implementation in
https://github.com/xmonad/xmonad-contrib/pull/238

but that change has not yet made it in to a release, so you will need to build xmonad-contrib from source if you want to fix the issue.

[2018-06-07 04:11] IvanMalison commented on #332
* https://github.com/xmonad/xmonad-contrib/pull/238 #369 #239

[2018-06-07 04:12] IvanMalison commented on #369
@cumber I'm going to close this for now, but feel free to hop on the gitter channel if you need more help.

[2018-06-07 04:12] #369 closed

[2018-06-07 04:12] cumber commented on #369
Ah, thanks! Sorry I didn't spot the existing issue (I spent ages looking through issues related to icons for another problem I'm having; don't know how I missed it).

[2018-06-07 04:14] IvanMalison commented on #369
@cumber Did you fix the other issue? What was it? If it was not obvious, feel free to add to the list of things that should be added to the FAQ in #332

[2018-06-07 04:22] cumber commented on #369
The other problem is that taffybar dies when Slack starts up (with a message about the icon not being found in my icon theme). But then I manually start taffybar again and it works (and displays the slack icon). I think it might be #362.

[2018-06-07 04:28] IvanMalison commented on #369
@cumber No that sounds more like #367 . I recently added some alternative icon fetch strategies to allow for icon theming. Instead of always using ewmh icons, we now attempt to load them from desktop files and using icon names, which allows icon theming and stuff. If you just want to use ewmhicon retrieval (which is much less likely to crash the process), you should just provide

[code]

in you hu

[2018-06-07 17:19] teleshoes commented on #351
oh no, another icon rewrite! :(

sigh...just to make sure i understand this one, youve changed the icon customization back to supplying a raw pixbuf to taffybar.

if im wrong, disregard my complaints and tell me what im supposed to do instead.

if this IS what im supposed to do, im against this change for the following reasons:
1) image scaling is definitely something that taffybar should be doing

[2018-06-07 17:40] teleshoes commented on #351
also, i dont think this actually solves the problem. this only lets me control what happens when the icon is actually there.

when i use `minIcons=1` to make a placeholder, the placeholder appears to be auto-scaled, and no longer respects the fixed-icon size. i dont think i have access to that pixbuf to scale it, and afaict, getWindowIconPixbuf isnt invoked.

i just dont see any benefits to deleti

[2018-06-07 17:49] teleshoes commented on #351
so, as a workaround, i have fixed-scale icons AND hardcoded `.contents` padding in CSS.

on a side note, i would LOVE to just open a PR fixing all this, uniting the auto-scaling and manual-scaling (and maybe relative-to-bar-scaling) with a clean interface that doesnt require custom icons to build their own pixbufs.
if you think that you might actually merge it, let me know, ill work on it soon.

[2018-06-07 23:46] IvanMalison commented on #351
@teleshoes This is a fair point, but let me explain a few things:

First of all there are two functions

`scaledWindowIconPixbufGetter`
https://github.com/taffybar/taffybar/blob/72ba688d824f49c24f96a09e91489cd38994b32d/src/System/Taffybar/Widget/Workspaces.hs#L619

`constantScaleWindowIconPixbufGetter`
https://github.com/taffybar/taffybar/blob/72ba688d824f49c24f96a09e91489cd38994b32d/src/System/Ta

[2018-06-07 23:51] IvanMalison commented on #351
Yeah, I suppose this is a problem, but it's not really related to the issue of scaling, or the use of raw pixbufs imo. I think what needs to happen here is

WindowIconPixbufGetter should be of type

[code]

That way a pixbuf can be provided when you want to draw an icon for no pixbuf. How does that sound?

[2018-06-08 00:05] IvanMalison commented on #351
In summary, you seem to be proposing two separate things here:

The first is to add a completely new data type:

[code]

which would affect how window icon pixbufs are scaled. I'm still not convinced that this is significantly different than simply having `WindowIconPixbufGetter -> WindowIconPixbufGetter` of the same name that do the scaling for you. This avoids yet another configuration parameter

[2018-06-08 01:02] cumber commented on #369
Hmm, well with that fix applied I don't have an icon at all for Slack, but it doesn't crash.

[2018-06-08 01:10] IvanMalison commented on #369
@cumber Yeah IIRC stack doesn't set an ewmh icon.

Did you say that you are installing with nix? You need to make sure that taffybar is getting the XDG_DATA_DIR and GDK_PIXBUF_ICON_LOADER environment variables.

[2018-06-08 01:38] cumber commented on #369
Aha! That was the hint I needed. It was my fault; I had an odd setup where slack was installed via my xmonad's startup script's reference to it, but not actually available in my nix profile. Once I had it referenced from my profile as well, the standard $HOME/.nix-profile/share (which Nixos puts in $XDG_DATA_DIR without needing any configuration) contains the slack.desktop file, and taffybar's def

[2018-06-08 02:21] IvanMalison commented on #369
@cumber Nice. I should probably add info about icons in nix which are a little idiosycratic.

[2018-06-08 02:21] IvanMalison commented on #332
* Significance of XDG_DATA_DIR and GDK_PIXBUF_ICON_LOADER, especially in nix

[2018-06-08 03:43] ARR8 opened #370 "XDG Menu: Occasional crash mousing over categories"
**Describe the bug**
With the XDG menu widget, sometimes viewing several categories in a row causes a segfault. Seems to happen at random times.

**To Reproduce**
See above

**Expected behavior**
No crashes

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version information**
Using latest version at time of writing, 72ba688
Installed via stack
Gtk version: 3.22.29+

[2018-06-08 03:47] ARR8 opened #371 "XDG Menu: Does not read /etc/xdg unless specified"
**Describe the bug**
Unlike the description in the comments of the source file, the XDG menu widget seems to only search in /etc/xdg if it is manually specified in XDG_CONFIG_DIRS. Otherwise, there is an error that .config/menus/PREFIX-applications.menu does not exist, but it does not look further.

**To Reproduce**
Unset the XDG_CONFIG_DIRS environment variable and launch taffybar with the XDG me

[2018-06-08 03:51] ARR8 opened #372 "XDG Menu: Locale mostly ignored"
**Describe the bug**
With a non-English locale set, XDG menu does not localize the category names and only a few of the program names, despite many more of the programs having translations for the locale. This happens with multiple languages.

**To Reproduce**
Launch taffybar with the LANG variable changed and XDG menu enabled.

**Expected behavior**
The category names and all available program na

[2018-06-08 03:59] ARR8 opened #373 "XDG Menu: Icons not displayed"
**Describe the bug**
When launching, taffybar complains of not being able to find the icons for several programs. However, no icon is displayed for any program, even the ones about which there is no error. This happens with both default/index.theme inherits=Adwaita and inherits=hicolor, the latter being where the program icons are.

**To Reproduce**
See above

**Expected behavior**
Icons displayed

[2018-06-08 15:46] u11gh commented on #370
Am 07.06.2018 um 23:22 (-0700) schrieb Ivan Malison:

Will do.

[2018-06-08 16:36] u11gh commented on #371
I will see to it.

[2018-06-08 16:44] u11gh commented on #372
I am using xdg menu on a daily basis in a german environment on a debian
testing system without such problems.  Just installed and tried other
locales and things appear to work correctly.

Could you please try other menus, like gnome, mate, xfce?

[2018-06-08 17:05] u11gh commented on #373
If xdg menu cannot find an icon that is specified in the menu file then
it should complain about it.  So, maybe the icon data are missing from
the  menus.  Could you please try another menu?

[2018-06-08 17:07] IvanMalison commented on #373
@ARR8 what distro are you on

[2018-06-08 17:54] u11gh commented on #370
I was not able to trigger such a crash.  I am using gtk 3.22.

@IvanMalison, can you give a hint how to reproduce?

[2018-06-08 18:55] ARR8 commented on #373
Arch. Trying another menu does not fix the problem. Other XDG-displaying programs do have icons.

[2018-06-08 18:57] ARR8 commented on #372
Trying another menu file fixed the problem. For future reference, Arch seems to localize better when using the arch-applications menu file, though you lose the settings category in selecting it.

[2018-06-08 18:57] #372 closed

[2018-06-08 21:00] IvanMalison commented on #372
@ARR8 Not sure I understand what the fix was. Would it be worth documenting the issue in the FAQ

(which doesn't exist yet, but I'm just trying to keep track of stuff in https://github.com/taffybar/taffybar/issues/332)

[2018-06-08 21:37] ARR8 commented on #372
Not really, it's pretty Arch-specific and honestly something I should have known. Users using taffybar inside a DE won't have this problem, anyway.

[2018-06-08 21:59] IvanMalison commented on #372
I would guess that 80% of taffybar users use XMonad (i.e. not a DE). A significant chunk are also on arch. Your call though.

[2018-06-08 23:16] IvanMalison commented on #351
@teleshoes I don't want to come off as combative. I really appreciate your feedback, and I want to understand and cater to your needs.

I'm pretty convinced that the interface that has been exposed is the way to go, but if you feel really strange about it, I'm open to adding a parameter to control scaling.

My feeling is just that functions offer more control, and Haskell is a VERY function orient

[2018-06-09 01:31] ARR8 commented on #370
I can't reproduce it consistently, but it happened several times when first using the widget, and happens once in a while now. Actually, a different type of crash just happened when clicking to launch a program (i.e. not mousing over a category). I'm not sure if it's helpful, but here's the stack trace:

[code]

The program I was launching was mate-calc, which is in my utilities category, if that

[2018-06-09 08:05] teleshoes commented on #351
oh yea, no worries, i see where youre coming from completely. i just disagree on some of the finer points.

also, if I'M coming across as hostile, its absolutely unintentional. i am a little overwhelmed with how often icons keep changing, though; i find that i need to rewrite my custom icon code pretty much from scratch every coupla weeks. things ARE improving enormously, though. i suppose churn i

[2018-06-09 08:31] IvanMalison commented on #351
Yeah, sorry about that. I hope that we're converging to an approach that will remain fixed for the foreseeable future.

I agree that the user should not have to think about pixbufs to get fixed size icons, but just so we're clear `constantScaleWindowIconPixbufGetter` makes it so that that isn't necessary, right?

Well before, you had to choose from one of the provided options (ewmh, color or a fil

[2018-06-09 17:21] teleshoes commented on #351
yea i think that will work, though you might want to add another setting to the record for get-empty-pixbuf to keep the flexibility to do it the other way. `getEmptyWindowPixbuf = Int32 -> TaffyIO (Maybe Pixbuf)`

so, while i was rewriting to build pixbufs, i considered preloading the pixbufs for my custom icons and just reusing them. it occurs to me that if you do scaling separately, then this op

[2018-06-09 19:01] u11gh commented on #371
I can reproduce the reported behaviour:  IF XDG_CONFIG_DIRS is set then
/etc/xdg is not searched for a menu file.

This appears to comply with the XDG specs, see
https://specifications.freedesktop.org/basedir-spec/latest/ar01s03.html

I propose to update the doc string of menuWidgetNew from

    ... XDG_CONFIG_DIRS and "/etc/xdg".

to

    ... XDG_CONFIG_DIRS if it is set and not empty and "/etc/x

[2018-06-09 20:09] ARR8 commented on #371
My XDG_CONFIG_DIRS is not set and the widget does not look in /etc/xdg regardless. XDG_CONFIG_HOME is the only relevant variable set.

[2018-06-09 20:38] u11gh commented on #373
I can reproduce the reported behaviour: When taffybar is started in a
"plain" X session then most icons will be missing.  They appear as soon as
'mate-settings-daemon' is started.  (Probably works also with the
respective gnome thing.)

Going to check why that happens.

[2018-06-10 02:31] IvanMalison commented on #373
Ah yes. I use xsettingsd. That's a good choice for tiling wms. We should put something in the FAQ issue about this

[2018-06-10 05:32] IvanMalison commented on #351
No, that is what you should do if you want constant size scaling. Of course, if you want percentage scaling (or auto size scaling, the pixbuf should be scaled to this size). It's just away of letting you set the image size based on the amount of available space.

Yes, this was actually one of the thoughts that originally led me to decide to combine scaling and pixbuf selection.

Makes me think tha

[2018-06-10 16:52] u11gh commented on #373
Agree, that should definitely go in the FAQ.

@ARR8 can you confirm that icons appear after starting xsettingsd (or
gnome-settings-daemon or some such)?

[2018-06-10 17:19] u11gh commented on #371
Sorry, I mixed that up.

You are right: if XDG_CONFIG_HOME is set then XDG Menu will not search
in /etc/xdg.  This is wrong.  I shall fix it.

[2018-06-10 17:27] u11gh commented on #371
@IvanMalison Please re-open this bug report.  009b741 handled an issue
regarding XDG_CONFIG_DIRS.  The XDG_CONFIG_HOME issue is still open.
I'm working on it now.

Sorry for the confusion.

[2018-06-10 17:28] IvanMalison commented on #373
@ARR8 Do you use the gtk3 or qt version of that application?

[2018-06-10 17:29] ARR8 commented on #373
GTK3, as mentioned

[2018-06-10 18:39] #371 closed

[2018-06-10 18:54] IvanMalison commented on #373
@ARR8 PCManFM is gtk 2.0, I think that a settings daemon is required for certain functionality in gtk3 if you are not using a desktop environment.

[2018-06-10 18:55] IvanMalison commented on #373
Specifically, the picking up of the settings in the gtk config files don't work for me in gtk3 without an xsettings daemon

[2018-06-10 19:09] ARR8 commented on #373
I should mention I am using [a GTK3 version](https://www.archlinux.org/packages/community/x86_64/pcmanfm-gtk3/) of the program. I do have the theme and icon theme specified in the GTK3 config file, which it seems to pick up. I've just confirmed this by switching from Adwaita to Breeze and back. It's possible that the theme selection is not ideal this way, e.g. it doesn't recognize setting the them

[2018-06-10 19:11] ARR8 commented on #371
Confirmed fixed, thanks.

[2018-06-11 18:23] LeifW commented on #336
PKGBUILD on AUR upgraded to 2.1.1 by Solomon.

[2018-06-11 19:23] #336 closed

[2018-06-12 00:01] IvanMalison commented on #228
This needs to be fixed. Perhaps we should move back to the old method of icon loading.

[2018-06-12 04:43] teleshoes commented on #228
weird, this doesnt effect me at all anymore. maybe its the by-class or by-desktop, since im not using those

[2018-06-12 16:51] u11gh commented on #373
Put the following in ~/.config/gtk-3.0/settings.ini

    [Settings]
    gtk-fallback-icon-theme = gnome
    gtk-icon-theme-name = Adwaita
    gtk-menu-images = 1

with theme names of your liking.  Important is the last line which
enables display of icons in menus.

I propose to add this to the FAQ as well and then close this issue,
after it has been verified.

@ARR8 Could you please try this out a

[2018-06-12 17:54] IvanMalison commented on #228
Yeah, I'm pretty sure that this is what it is. I'm starting to suspect that the haskell-gi introspection might have an undocumented null somewhere, or that it is not properly taking ownership of the pixbuf it returns when it does icon lookup.

[2018-06-12 19:14] nrdxp opened #376 "No Visible SNITray"
**Describe the bug**
When launching taffybar, I am unable to see any tray icons for programs that should have them, they show up properly in trayer for example.

**To Reproduce**
set tray to sniTrayNew, start status-notifier-watcher, start taffybar, no systray icons are visible and the space where it should be is empty

**Expected behavior**
systray icons should be visible and interactable

**Scre

[2018-06-12 19:38] nrdxp opened #377 "Battery widget causes segfaults in ghc 8.4"
**Describe the bug**
taffybar is unusable due to very early segfaults after just seconds

**To Reproduce**
Steps to reproduce the behavior:
start taffybar, do something like move the mouse or change window or workspace, it will crash within seconds. If you don't touch the mouse or do anything it will not crash

**Expected behavior**
expected to function properly. I have a core dump if you would li

[2018-06-12 19:44] IvanMalison commented on #332
* document that SNITray widget doesn't support xembed, how to use https://github.com/KDE/plasma-workspace/tree/master/xembed-sni-proxy

[2018-06-12 19:45] IvanMalison commented on #376
@nrdxp SNITray != XEMBED tray, which is what trayer is.

The XEMBED protocol is deprecated and it has a ton of problems.

If you want xembed tray items to show with the sni tray you can use
https://github.com/KDE/plasma-workspace/tree/master/xembed-sni-proxy

if you still want an xembed tray you can use the systray module.

[2018-06-12 19:45] #376 closed

[2018-06-12 19:47] IvanMalison commented on #377
@nrdxp looks like you are hitting https://github.com/taffybar/taffybar/issues/358 which is actually a bug in ghc.

As documented in the README, the aur package is not the recommended way to install taffybar. You will have a much more stable experience with a stack or cabal install

See my comments in https://github.com/taffybar/taffybar/issues/151 for the reasoning behind this.

[2018-06-12 19:49] IvanMalison commented on #377
@nrdxp @LeifW May be able to help you get things working if you really want to use the aur route.

[2018-06-12 19:52] nrdxp commented on #377
neither of these work on my machine, I have tried multiple resolvers with stack and I just don't even know how to begin to debug cabal

[2018-06-12 19:52] IvanMalison commented on #332
* Could not load pixbuf from #367

[2018-06-12 19:54] IvanMalison commented on #377
@nrdxp There is the quick-start script which is intended to setup a stack install. Have you tried that?

What error do you get specifically. I'm happy to help you get things working in https://gitter.im/taffybar/Lobby

[2018-06-12 19:56] IvanMalison commented on #377
@nrdxp You need to specify certain extra deps, because no stack resolver has all the necessary packages.

You can see the packages that are needed in:

https://github.com/travitch/taffybar/blob/afbe492d857b336d1398d35218a17de8218cf151/stack.yaml.example#L10

[2018-06-12 20:18] LeifW commented on #377
What GHC version are you using? And what taffybar monitors do you have running?

[2018-06-12 20:41] GregorySchwartz commented on #217
I am seeing a severe memory leak in version 2.1.1 from hackage.

[2018-06-12 21:01] nrdxp commented on #377
I am building it with stack right now I already deleted the aur package, thanks for the help I will see how it goes

[2018-06-12 21:06] LeifW commented on #377
FWIW the AUR package works fine for me since the ghc in [community] was upgraded from 8.4.2 to 8.4.3. I'm running workspaces, layout, windows, notifications, mpris, clock, battery, mem, cpu, and wifi.

[2018-06-12 21:08] simlu commented on #217
^ Auto kill and restart on timer has been very reliable here. As a workaround :)

[2018-06-12 21:09] IvanMalison commented on #217
@simlu You also still see the memory leak in the newest version?

[2018-06-12 21:12] IvanMalison commented on #217
@GregorySchwartz @simlu The issue causing the memory leak described in this issue is well understood, and definitely fixed.

If you guys have a memory leak, you should file a new issue.

[2018-06-12 21:15] simlu commented on #217
Sounds good. I'll dig into it when I have some more time (I've heavily customized my config, so who knows what's causing it). But restarting on a five minute timer works really well as hacky as it sounds.

[2018-06-12 21:17] simlu commented on #217
Yes. I'm suspecting it might have to do with my config, but didn't have time to deep dive yet. I'll open a new issue when I get to it.

[2018-06-12 21:18] IvanMalison commented on #217
@GregorySchwartz @simlu  ..although, the following just occured to me...although, the following just occured to me.

You may need to be using haskell-gi of version at least 0.21.2

here is the relevant portion of the chat from gitter:
[code]

@simlu @GregorySchwartz which install approach are you using? If you are using the aur package, I really recommend using stack, cabal or nix to install taffy

[2018-06-12 21:36] LeifW commented on #217
I don't understand the aversion to the AUR package. It is built with cabal, same as you would get by using cabal, stack, or nix.

[2018-06-12 21:52] IvanMalison commented on #217
@LeifW It has to do with the fact that it uses dynamic linking, and that it requires adding all dependencies separately from the aur.

See https://wiki.archlinux.org/index.php/Haskell#Problems_with_linking

One crucial part is:

It also means that installed packages don't respect version number dependencies:

https://www.reddit.com/r/archlinux/comments/7hanz7/whats_the_current_state_of_haskell_on_

[2018-06-12 23:36] IvanMalison commented on #217
There is a very meaningful sense all of these methods are not the same. Specifically, they all differ w.r.t how they pull in dependencies. Installing with the aur loads the dependencies from the aur, cabal from hackage, stack from stackage, and nix from nixpkgs.

The aur's versioning system leaves a lot to be desired (basically doesn't exist), and because of the lack of ABI compatibility, you can

[2018-06-13 00:07] weskerfoot commented on #217
Just jumping in here, I don't feel like an AUR version is going to be useful unless it builds it using ghc-static or something, in which case, it's probably easier to just install it using this method https://wiki.archlinux.org/index.php/Haskell#Building_statically_linked_packages_with_Cabal_.28without_using_shared_libraries.29

Personally, I also have this in my `/etc/pacman.conf` because I've al

[2018-06-13 00:42] IvanMalison commented on #217
Yes, this is what I have sort of always maintained. It might be sort of nice to try to write an aur package to automate all of this, but it could be kind of tricky because cabal and ghc-pkg are so stateful.

Not sure if you are proposing to use:

[2018-06-13 01:21] weskerfoot commented on #217
No I'm not proposing using Nix to install via PKGBUILD or anything, I don't think that would be a good idea. I was proposing maybe people who don't want to use cabal or stack could just use nix.

[2018-06-13 02:13] LeifW commented on #217
This is how I've been installing Arch packages for a decade. The Haskell packages in AUR were formerly from [Don Stewart](https://archhaskell.wordpress.com/2009/07/25/arch-haskell-news-july-25-2009/), generated with his cabal2arch tool. I like managing everything with pacman (get upgrades, query files, uninstall, etc) instead of using a tool per language and managing things installed into my home

[2018-06-13 02:19] LeifW commented on #217
You could make a PKGBUILD that installs taffybar via stack. Though the library needs to be available to the same GHC you're using for xmonad. Since it's a library it doesn't really matter if you use static or dynamic for that - dynamic just saves some disk space and compile time.
It might be useful to have a library that depends on all the C libs taffybar depends on, e.g. a "taffybar-pre-reqs" for

[2018-06-13 03:33] IvanMalison commented on #217
I'm referring to the fact that the aur makes no attempt to manage version numbers at all. If someone upgrades one of taffybar's dependencies (say gi-gtk) to a version that is incompatible with what is required by taffybar, the package will no longer be installable. This is an obstacle to maintenence, and it seems far less robust than being able to depend on a specific pinned version number.

Here

[2018-06-13 03:40] IvanMalison commented on #217
Not sure how familiar you are with stack, but this is not how it works. You can't make a package "available" to a particular ghc. Stack always installs and builds things in completely isolated environments, which is why it is necessary to add a .cabal and .stack file to the `$HOME/.config/taffybar` directory. Dyre currently has some limited stack support, so when it see the .stack file in the taff

[2018-06-13 03:48] weskerfoot commented on #377
I'm seeing this with GHC 8.4.3 now

[2018-06-13 03:51] ARR8 commented on #373
That fixed it. There's now icons everything except categories, which seem to look for icons prefixed with gnome-, and I have none. I agree that this would be a good addition to the FAQ.

[2018-06-13 03:54] IvanMalison commented on #377
@weskerfoot Don't downgrade, I think @LeifW is saying that things were broken in 8.4.2 and were then fixed in 8.4.3

[2018-06-13 03:56] IvanMalison commented on #332
* gtk-menu-images = 1 (see https://github.com/taffybar/taffybar/issues/373#issuecomment-396659370)

[2018-06-13 03:56] #373 closed

[2018-06-13 03:57] IvanMalison commented on #332
* Segfaults in ghc 8.4.2 #358

[2018-06-13 04:06] weskerfoot commented on #377
@IvanMalison yeah sorry, I think I misunderstood the issue.

[2018-06-13 04:15] LeifW commented on #217
You can absolutely specify version constrains on dependencies in a PKGBUILD - same as you would in a .cabal file. See https://wiki.archlinux.org/index.php/PKGBUILD#depends
This seems a little redundant to me, though, as the version constraints in the .cabal file are still enforced
When a haskell package is upgraded in Arch, they rebuild the packages that depend on it and increment  pkgrel field, b

[2018-06-13 04:21] LeifW commented on #217
@IvanMalison Understood. I think it'd be nice to ultimately see taffybar included in the [community] repo - then people could `pacman -S taffybar` the same as you can with xmonad, and get a taffybar supported by Arch without having to worry about the ABI breakages you get with building it yourself out of AUR and then having packages from [community] upgraded out from underneath it. People preferri

[2018-06-13 04:28] LeifW commented on #377
Yes, I had frequent segfaults with GHC 8.4.2 (removing the battery widget seemed to help), and now maybe once or twice a day with GHC 8.4.3. So the suspicion was that it was a bug in the 8.4.2 runtime. I documented what I dug into on #358. Perhaps there is still a bug in GHC 8.4.3? (I didn't see my exact bug mentioned in the release notes of things fixed). If you're using stack you should be able

[2018-06-13 04:31] LeifW commented on #377
If you provide your taffybar.hs I could see if I could reproduce it (I'm on GHC 8.4.3), else you could strip down widgets in your taffybar.hs to a minimal set and see if the issue goes away.

[2018-06-13 06:48] dongcarl commented on #377
This is happening with the default taffybar config for me. Also trying the AUR package.

[2018-06-13 06:56] dongcarl commented on #377
All I had to do was `taffybay -l DEBUG`, then switch between my workspaces quickly with mod+1|2|3|4. And it would say:
[code]

[2018-06-13 07:39] LeifW commented on #377
Ok, wow, yes, it definitely segfaults with that config.
I'll try and look into that a bit later.
In the meantime, here's my config: https://gist.github.com/LeifW/1e37c058670a5b6721e5d7b0d8999970
(the wifi part requires the iwlib package, which is available with `pacman -S haskell-iwlib` if you're using haskell packages from [community], or install from hackage otherwise, or just remove that part)

[2018-06-13 07:57] LeifW commented on #377
It's not totally crash-free with my taffybar.hs, granted - it segfaults about once per hour of regular use.

[2018-06-13 08:42] IvanMalison commented on #377
@dongcarl @LeifW Can we verify that this issue only affects ghc >= 8.4?

[2018-06-13 13:32] dongcarl commented on #377
I can verify that it DOES, but not that it ONLY affects ghc >= 8.4
[code]

[2018-06-13 15:46] weskerfoot commented on #377
@dongcarl @IvanMalison @LeifW

I was seeing segfaults after switching workspaces a few times as well.

I was using the example config [here](https://github.com/taffybar/taffybar/blob/master/taffybar.hs.example), since my old taffybar.hs seems to be pretty broken with newer versions anyway (it was written way back when it was still on gtk2).

Removing the battery widget solves the issue for me.

[2018-06-13 16:03] weskerfoot opened #378 "Certain system tray icons cause unwanted scaling"
**Describe the bug**
I believe I'm having issues related to https://github.com/taffybar/taffybar/issues/350
When I start anything that tries to use the system tray (as far as I can tell that's the main thing), then I get an issue where my taffybar starts scaling out of control.

E.g. this is what it looks like at first
![2018-06-13-114809_1920x1080_scrot](https://user-images.githubusercontent.com/

[2018-06-13 16:37] GregorySchwartz commented on #217
@IvanMalison I am using `stack install taffybar-2.1.1` with `haskell-gi-0.21.2`. @LeifW There are many users that do not use Arch Linux (I do, but that's besides the point). I prefer to build from Hackage or Stackage, that way I can have my entire system (using xmonad) on the same Stackage resolver. Especially because I have other Haskell packages in use for my taffybar configuration.

[2018-06-13 18:54] IvanMalison commented on #378
2 things:

This makes it sound like synergy appears whether or not xembedsniproxy running -- Is that correct?

If you install the proper version of nm-applet, you can get it to use appindicator/sni instead of xembed. I would advise that you take that approach for that particular applet.

Does it immediately grow to that size, or does it sort of perpetually grow in size?

[2018-06-13 18:58] IvanMalison commented on #217
@GregorySchwartz I just took a look at your taffybar config, and you don't seem to have a stack.yaml file or a cabal file. Are you sure that you are actually using the stack versions of the library with taffybar?

One of the subtleties/annoyances of using stack right now is that taffybar wont reexecute itself in the stack environment unless you explicitly set one up. If you have taffybar installed

[2018-06-13 19:00] IvanMalison commented on #217
@GregorySchwartz It does seem however that you are using a sufficiently modern version of the taffybar config, and that therfore the memory leak issue should be fixed. Maybe you just havent checked in the stack.yaml and cabal files?

[2018-06-13 19:01] IvanMalison commented on #217
@GregorySchwartz Also just a heads up that there is a pretty customizable and nice upower widget that you could rpobably use to replace your batString widget.

https://github.com/GregorySchwartz/dotfiles/blob/master/.config/taffybar/taffybar.hs#L134

[2018-06-13 19:03] IvanMalison commented on #376
@nrdxp Sorry if my response wasn't clear, but basically the likely reason there are no tray icons visible is that you have not set up any appindicator/snitray programs. A lot of programs can actually be configured to use this protocol instead of xembed. take a look at their command line flags.

You should read the documentation of https://github.com/taffybar/gtk-sni-tray#statusnotifierwatcher

[2018-06-13 19:16] weskerfoot commented on #378
Correct, synergy seems to put something in the tray regardless of whether xembedsniproxy is running (maybe it supports both protocols?)

I will try fixing nm-applet as well to use SNI.

It immediately starts growing fairly quickly (it got to the size in my screenshot a couple seconds after I started synergy)

[2018-06-13 19:20] IvanMalison commented on #378
@weskerfoot Hmm. interesting. I think I know what is happening.

Can you try removing the

`padding: 1px;`
 line from taffybar.css?

That unconditionally adds padding to everything. Are you sure that is what you want to do?

Anyway the autosizing algorithm used in gtk-sni-tray is a little bit less sophisticated than the one used in the rest of taffybar, and it doesn't actually take padding, margin

[2018-06-13 19:30] weskerfoot commented on #378
@IvanMalison Yep, that fixes it! Any idea why that was happening? I'm not sure why I decided to add padding to that class, I was just messing around with the CSS trying to get it to play nice with my XMonad settings.

[2018-06-13 19:50] IvanMalison commented on #378
@weskerfoot Yeah. As I explained above:

Clarification: because you are using the `.taffy-window * {` you are basically saying add 1px padding to every widget that is going to be displayed. I doubt that is what you want.

The reason it has to do with the tray is:

[2018-06-13 19:52] IvanMalison commented on #378
Basically, all that needs to be done to fix this is to share the AutoSizeImage code from taffybar with gtk-sni-tray

[2018-06-13 20:37] dongcarl commented on #377
Can confirm that removing the battery widget seems to solve the issue...

[2018-06-13 20:40] IvanMalison commented on #377
Okay, reopening this for the exclusive purpose of dealing with the battery segfault in new versions of ghc.

If there are any segfaults that do not involve the battery widget, please open another issue, and link to the discussion here.

[2018-06-13 23:58] ARR8 opened #379 "Windows widget: HTML de-encoded in menu label but not active label"
**Describe the bug**
Not sure if this is a known problem. Doesn't seem to be in the docs about the window widget.
A window title with HTML-encoded characters shows up normally in the active label, but changes to HTML in the window list, in some cases expanding the width dramatically.

**To Reproduce**
Open a program with such characters in the title.

**Expected behavior**
Menu label same as activ

[2018-06-14 02:46] weskerfoot commented on #377
I've written a systemd user unit that starts taffybar (and restarts it if it crashes)
[code]

Just place it under `$HOME/.config/systemd/user/taffybar.service`
Then
`systemctl --user enable taffybar.service`
`systemctl start taffybar`
And it should handle restarting it if it crashes as well as starting it up automatically when XMonad is started.

[2018-06-14 06:40] IvanMalison commented on #377
[code]

would be better.

This is what ive always done.

[2018-06-14 14:34] GregorySchwartz commented on #217
@IvanMalison I run taffybar with `stack exec taffybar` to make sure all of the correct versions of libraries are used. I should mention that I recently moved over to the newest version of taffybar, the one from maybe a year / year and a half ago was what I was using until now.

[2018-06-14 19:19] LeifW commented on #377
I added a systemd user service file to the taffybar AUR package. It's not really a big deal if taffybar crashes, since it's stateless.

[2018-06-14 20:14] GregorySchwartz commented on #217
Although I had the correct `haskell-gi` version in my `stack.yaml`, I copied the dependencies from this repository to my `stack.yaml` and reinstalled. It seems to be OK now, so I wonder if it's multiple dependencies, but it seems fine. Although it does seem to creep up over time (2% of memory to 2.6% over the course of hours), it was not nearly as aggressive as before (50% over the course of less

[2018-06-14 20:39] IvanMalison commented on #217
@GregorySchwartz Ahh yes, this is likely what it was. haskell-gi versions are actually pretty weird, because for things that are generated with haskell-gi like gdk-gdkpixbuf use the version of the dependency themselves and get re released under the same version. One of the fixes for the memory leak was to actually allow the freeing of pixbuf memory, so that is likely what you were coming up agains

[2018-06-14 20:44] IvanMalison commented on #379
Hmmm not sure what this could be. Both default markup functions escape markup in the same way so its not clear to me what would be causing this.

[2018-06-15 02:17] ARR8 commented on #379
Maybe something with GTK itself?

[2018-06-15 02:55] licquia opened #380 "quick-start.sh no longer works"
**Describe the bug**

quick-start.sh fails to build taffybar with an error:

    Configuring gi-gdkx11-3.0.2...
    setup: The pkg-config package 'gdk-x11-3.0' version >=3.22 is required but the
    version installed on the system is version 3.18.9

**To Reproduce**

Clone the git repository, and then run quick-start.sh from the root of the directory.

**Expected behavior**

The build should succe

[2018-06-15 03:10] IvanMalison commented on #380
@licquia quick-start does not currently handle installing the pkg-config packages that you need to get things working.

You'l need to have everything that is required for haskell-gi plus a few other extras

gdk-x11
libdbusmenu-gtk

I would love to have these things included in quick-start, but its just too hard of a problem to solve because the way you get these packages varies from distro to dist

[2018-06-16 04:59] weskerfoot opened #381 "Crashes with a core dump after a long time running"
**Describe the bug**
This appears to be some kind of crash due to a NULL reference. It doesn't seem to happen very often (maybe a couple times a day?).

It looks like the cause is maybe an attempt to dereference a NULL pointer, I'm not sure where this is happening, but it's obviously related to libgtk-3 somehow.

**To Reproduce**
Run taffybar for a long time, eventually it crashes and does a core

[2018-06-18 04:48] IvanMalison commented on #380
@licquia I'm going to close this for now, since I'm not really sure how we would address it.

[2018-06-18 04:48] #380 closed

[2018-06-18 20:12] weskerfoot commented on #377
Hey, so I'm working on trying to build a version of taffybar that will work with valgrind.

Here's what I tried:
`  ghc-options: -Wall -funbox-strict-fields -fno-warn-orphans -g`
`-g` is supposed to enable debug symbols, but It doesn't seem to compile properly.

Apparently it might also need a GHC compiled with DWARF. Are there any other potential issues here? Does `-fPIC` affect this at all?

[2018-06-18 20:52] IvanMalison commented on #377
@weskerfoot One thing you'll need to be aware of is that taffybar recompiles and reexecs itself if you are using dyre taffybar, so the flags need to be passed to dyre, not in the cabal file.

For the purposes of debugging, I would recommend simply using startTaffybar to build a new executable (e.g. my taffybar), avoiding dyre all together.

[2018-06-18 21:37] purefn opened #382 "How to style battery icon?"
I've updated to taffybar 2.1.1 and am working on getting my setting moved over. So far things are going mostly ok. One thing I haven't been able to figure out is how to style certain elements. In this case, the `batteryIconNew`. I changed the background of my bar to black, which makes the battery no longer visible. I'd like to change the battery icon to be white, but haven't figured out how to do

[2018-06-18 21:51] IvanMalison commented on #382
@purefn The current batteryIcon widget simply uses the icon name provided by the upower dbus interface to load the appropriate pixbuf using gtk's icon loading machinery.

Because it is just loading a pixbuf (basically an image), I'm not sure that much can be done with css to change the appearance of the icon. You can swap out the icon set by making changes to the global icon theme though.

Obvious

[2018-06-18 21:52] IvanMalison commented on #382
@purefn If you want something that is like what used to exist you can use

channelWidget and verticalBar to whip something up pretty easily. Doesn't look very good though, IMO.

[2018-06-18 22:09] purefn commented on #382
Thanks for the quick response. I will probably look into using something that can go in the tray. [battery-monitor](https://github.com/maateen/battery-monitor) looks promising, I'll just have to get it into nixpkgs.

[2018-06-18 22:15] purefn opened #383 "Reduce vertical space taffybar uses"
Here is what my current taffybar looks like

![taffybar](https://user-images.githubusercontent.com/91643/41565061-f9382ace-7309-11e8-81bf-5556b2026702.png)

I'm happy with it so far, but there is extra vertical space above and below each widget I'd like to get rid of. I've tried playing with various padding and border settings, but have yet to find the right one to get rid of the extra space on th

[2018-06-22 05:23] IvanMalison opened #384 "g_param_spec_unref: assertion 'G_IS_PARAM_SPEC (pspec)' failed"
**Describe the bug**
Taffybar crashes

**To Reproduce**
Unknown

Stack, taffybar 2.1.3

[2018-06-25 23:28] IvanMalison opened #385 "High Idle CPU Usage In Clock Widget With Short Polling TIme"
Taffybar idles at very high cpu usage rates. Sometimes even above 10%.

My investigation indicates that the Text CPU widget is to blame, but @bgamari seems to think it might be ewmh X11 events:

See xmonad/xmonad-contrib#227 and xmonad/xmonad-contrib#263

[2018-06-25 23:42] bgamari commented on #385
To be clear, I don't believe there is a single cause for Taffybar's high CPU usage. My observations in xmonad/xmonad-contrib#227 suggest that excessive EWMH property updates contribute. However, as I said in my last comment on that ticket, I don't believe this is the end of the story.

However, I can rule out the Text CPU widget in my case as I don't use it. My configuration (which can be found in

[2018-06-27 06:03] PierreR commented on #298
The lastest nixpkgs is building `taffybar-2.1.1` just fine. Feel free to re-open the issue if necessary.

[2018-06-27 06:03] #298 closed

[2018-06-27 06:05] PierreR commented on #270
Deprecated issue. Only relevant for taffybar-1.x

[2018-06-27 06:13] IvanMalison commented on #270
@PierreR  I don't think that is true.

[2018-06-27 06:15] illis commented on #270
I'm having the issue with taffybar 2.1.1 -> as described in gitter

[2018-06-27 06:16] illis commented on #270
Sorry that should be 2.1.2

[2018-06-28 04:01] cdepillabout opened #386 "example code in haddocks does not compile"
There is an example of how to use taffybar in the haddocks on Hackage.

Unfortunately this does not compile anymore:

https://hackage.haskell.org/package/taffybar-2.1.1/docs/System-Taffybar.html

It would be nice if this were kept up to date.

[2018-06-28 04:03] IvanMalison commented on #386
@cdepillabout Isn't that an old version of the docs?

[2018-06-28 04:06] cdepillabout commented on #386
Yes, but the most recent version of the docs haven't been generated on hackage:

https://hackage.haskell.org/package/taffybar-2.1.2

Also, I could be incorrect, but the errors I was getting didn't seem like they would be fixed by a minor version bump.

[2018-06-29 20:06] Magicloud opened #388 "weatherNew is not in MonadIO"
**Describe the bug**
From sources under `taffybar/src/System/Taffybar/Widget/`, I saw the return types of wNew functions are TaffyIO w, IO w, MonadIO m => m w. Not only they look different. It breaks taffybar example.

**To Reproduce**
Put taffybar.hs.example as ~/.config/taffybar.hs. Restart taffybar to compile. Got error:
[code]

**Expected behavior**
Taffybar starts.

**Screenshots**
N/A

**Ver

[2018-06-29 20:36] IvanMalison commented on #388
`MonadIO m => m w` is a polymorphic type which can be interpreted as any Monad which implements the MonadIO interface so TaffyIO w and that type are compatible.

Looks like I may have missed the weather widget when I changed the type of the widgets, but you can fix it easily by simply applying

liftIO to the return value.

I'll fix this now.

[2018-06-29 20:52] #388 closed

[2018-06-30 06:56] Tordek commented on #256
Hi! This issue looks interesting to me, but I have a few questions regarding implementing it.

The goal is to remove all references to Graphics.UI.Gtk, and the `gtk` depedency, right?

E.g., System.Taffybar.Widget.Windows is used as an example and marked as done, but it uses `import qualified Graphics.UI.Gtk as Gtk2hs`, particularly `Gtk2hs.escapeMarkup`. There's a non-Gtk2hs version in GI.GLib.Fu

[2018-06-30 08:18] IvanMalison commented on #256
yes

Yes, I was actually aware of this, but I just sort of ran out of steam when I was trying to do that last part. Figured I (or someone) would get around to it eventually

Yes, but I think that will be one of the last things that gets done.

For now the core interface still takes gtk2hs widgets, so what is retruned by the widget builders needs to be a gtk2hs widget.

I suppose that we could work

[2018-06-30 16:48] Tordek commented on #256
Awesome, thanks for the reply.

Ok, so we can make it a "standard" process for each module to:

1. Convert `import qualified Graphics.UI.Gtk as Gtk2hs` as `import qualified Graphics.UI.Gtk(Widget) as Gtk2hs` so we only need it for the type signature.
2. Rewrite everything as needed to use GI.Gtk
3. Finish with `>>= fromGIWidget`

so eventually when the type signature is changed we just have to cha

[2018-06-30 19:41] IvanMalison commented on #256
Yep, that's what I've been doing, but yeah, good idea to write it down and make it "official".

I'm not exactly sure what this is saying:

Are you referencing changing the bar initiation code in Context.hs?

Are you saying we should make it so that you can provide either type of Widget? We would need to wrap the widget types with an ADT, or existential type then, which IMO doesn't really make thin

[2018-06-30 20:47] Tordek commented on #256
I actually missed it because Window was doing `widgetSetClass =<< fromGI...`; I've changed it to use `widgetSetClassGI` instead so it's not in the way.

Yes, basically. Change the signature for those functions to take a GI.Gtk.Widget and convert it to Gtk2hs.Widget, while all the widgets perform the opposite conversion with `toGIWidget`. So, sure, in that moment we're just doing a pointless back-a

[2018-06-30 21:53] IvanMalison commented on #256
I don't think there is any reason to do this. The change in Context.hs will actually be relatively easy, it's just that then we will have to switch all widgets (except for the ones that have already been converted) to using toGIWidget.

I'd rather not take the intermediate step -- we should just make the change in Context and Config.

In a local branch? Don't take on too much in any single change.

[2018-06-30 22:12] Tordek commented on #256
I was looking around and ended up finishing the change on Context and SimpleConfig by accident... I'm now just confused by `Graphics.UI.GIGtkStrut` which seems to be the haskell-gi-approved version but it just has the wrong namespace.

[2018-06-30 23:17] IvanMalison commented on #256
@Tordek Yeah, that is my own library. Graphics.UI seems like the right place for it. We'll have to leave that for now.

[2018-07-01 19:54] IvanMalison commented on #332
* How to use the various Workspaces pixbuf functions (EWMH, Desktop files) scaling etc.

[2018-07-01 20:43] IvanMalison opened #390 "Shutdown Polling label loop when the widget is unrealized"
The polling label widget does not shut down its main loop when it is unrealized.

[2018-07-02 08:31] Tordek commented on #256
Going a bit over what needs to be done:

* `src/System/Taffybar/Compat/GtkLibs.hs`
Would be the last, when everything else is done

* `src/System/Taffybar/Widget/Systray.hs`

I guess just gets deleted, since it's deprecated

* `src/System/Taffybar/Widget/SimpleClock.hs`

Depends on a rewrite of `attachPopup`, from `Util`, and I don't even know where to begin with `windowSetPosition`.

* `src/Syste

[2018-07-02 08:33] IvanMalison commented on #256
@Tordek Not too much left to do then. Looks reasonable.

[2018-07-02 12:58] Tordek commented on #256
I've hit a couple of roadblocks, particularly `System.Taffybar.Widget.Util.attachPopup`, I don't know where to get gTypeWindow from. Also, `windowSetPosition`; there doesn't seem to be a way to do that in `GI.Gtk`?

So, basically, the only remaining thing is `SimpleClock` (modulo some issue that's causing a compile error in one of the versions that I have no idea why it happens, but seems to be re

[2018-07-02 17:55] IvanMalison opened #394 "Extremely high memory and cpu usage after taffybar has been running for a long time"
After running for a long time, taffybar will get up to 20% memory usage and CPU usage that is persistently over 100% (of a core)

[2018-07-03 05:52] Tordek commented on #256
I think it's done? `gTypeWindow` was a bit silly involving `gobjectType (undefined :: Window)` and I wasn't finding `windowSetPosition` because the docs kept leading me to Gdk.Window instead of Gtk.Window...

Probably can use a ton of cleanup.

[2018-07-03 17:33] #256 closed

[2018-07-03 20:40] #390 closed

[2018-07-03 21:41] #386 closed

[2018-07-04 00:38] IvanMalison commented on #231
Hah, oops, Didn't mean to trigger github's auto close with that comment in c235869

[2018-07-04 00:41] IvanMalison commented on #231
I finally got around to running valgrind to try to figure out what is going on here, and here are the results:

Output right before the segfault:

https://gist.github.com/IvanMalison/2f55e2d07275609d6ca61410acca12cf

Full output:

https://gist.github.com/1fed7ce73619633473373fe109c35ff8

Nothing jumps out at me immediately but hopefully someone can help me out here?

@weskerfoot indicated that he

[2018-07-04 01:20] IvanMalison commented on #231
I'm going to try to run with gdb too. Think that might give us a bit more info.

[2018-07-04 18:51] IvanMalison commented on #231
Here's a crash that seems to happen in code that is simply getting font size:

[code]

[2018-07-04 18:54] IvanMalison commented on #231
another:

[code]

[2018-07-04 19:31] IvanMalison commented on #231
When only running the workspaces widget, the crashes seem to be rarer, and they always have the same trace, it seems:

[code]

[2018-07-04 19:47] IvanMalison commented on #231
Well, my theory that this has something to with windowIcons seems to be incorrect, because even after I disabled window icons completely, I still get the crash.

[2018-07-04 19:52] IvanMalison commented on #231
I get the crash whether I am running the MPRIS widget alone, or the workspaces widget alone. This must mean that either both of the widgets have some similar issue, or the issue is with the core taffybar code.

The traceback is slightly different with the mpris widget, but the location is the same:

[code]

[2018-07-04 19:57] Tordek commented on #231
I haven't had the crash with Workspaces only, but I run maxIcons = Just 0, so that might be relevant?

[2018-07-04 20:13] IvanMalison commented on #231
@Tordek No I just tried that and I definitely still get the crash

[2018-07-04 20:14] IvanMalison commented on #231
Interestingly it seems like running taffybar with the environment variable:

[code]

prevents the g_slice_alloc segfault.

I much more rarely now encounter:

[code]

[2018-07-04 20:19] IvanMalison commented on #231
@Tordek It seems increasingly likely to me that some sort of heap corruption is to blame.

hmmm: it seems that we do not initialize threads for gdk anywhere:

https://developer.gnome.org/gdk3/stable/gdk3-Threads.html#gdk-threads-init

perhaps the issue is as simple as taffybar just fails to do this completely?

[2018-07-04 20:45] IvanMalison commented on #231
@Tordek Can you run with `G_SLICE=always-malloc`

and let me know if the issues go away for you? For me this seems to fix the issue.

[2018-07-04 20:45] Tordek commented on #231
Aye, I'll check.

[2018-07-04 20:53] Tordek commented on #231
Negative; the issue remains with MPRIS2:

    [1]    2554 segmentation fault  G_SLICE=always-malloc taffybar

[2018-07-04 21:02] IvanMalison commented on #231
can you get a backtrace for that?

[2018-07-04 21:08] Tordek commented on #231
Do I need to enable some flags? I'm new at Haskell in general

[2018-07-04 21:20] IvanMalison commented on #231
running with gdb should be enough:

I'm running with
[code]

And

[code]

which should let you see haskell rts calls in the backtrace.

[2018-07-04 21:48] Tordek commented on #231
Ugh, I'm having issues because it keeps building a custom exec in `.cache/` which doesn't support +RTS.

Also, I'm using Cabal, not Stack, currently; stack just straight up fails to parse the dependencies.

[2018-07-04 22:33] IvanMalison commented on #231
Okay, I think I have found the cause of the issue:

See this discussion from the haskell-gi chat:

[code]

[2018-07-05 02:06] #231 closed

[2018-07-05 02:07] IvanMalison commented on #231
@teleshoes @Tordek Do you mind running from 841769a and seeing if you get any segfaults? I think that I've fixed the issue, but I'd like to verify.

[2018-07-05 02:13] IvanMalison commented on #231
wrap up:

The issue that was resolved in 841769a is likely unrelated to the issue(s) that this ticket was originally filed for (which might have had different causes, and were likely related to gtk2hs, which has recently been removed from taffybar completely).

The cause of most of our segfaults (at least since the partial migration to gi-gtk) was likely haskell-gi/haskell-gi#173, a problem with t

[2018-07-05 02:38] IvanMalison commented on #377
Can anyone reproduce this now that #231 is fixed?

[2018-07-05 02:38] IvanMalison commented on #377
@LeifW ^

[2018-07-05 02:40] IvanMalison commented on #228
I haven't seen this since c235869, but I forgot that I had put in a fix since #231 had gotten so much worse.

I think that c235869 did actually fix this, but it made #231 much more obvious because of the introduction of warnNotOnUI thread which happened to call threadSelf which was the main cause of that issue.

[2018-07-05 02:40] #228 closed

[2018-07-05 03:00] Tordek commented on #231
My High Intensity Workout TM (AKA spamming play/pause on Clementine) hasn't crashed it yet; also, it might be related? I used to get 2 icons for Choqok in my tray, but only one was functional; now I only get one.

[2018-07-05 03:06] IvanMalison commented on #231
@Tordek You were probably running in to https://github.com/taffybar/gtk-sni-tray/issues/10 . Your status-notifier-item was probably updated in your last build which is why that went away (probably)

[2018-07-05 05:46] IvanMalison commented on #231
@teleshoes So I actually forgot to remove another access to threadSelf. You'll need to run from master, which has that other call removed.

[2018-07-05 05:47] IvanMalison commented on #231
@teleshoes oh hmmm looks like you are using the absolute latest. Are you by any chance using postGUIAsync anywhere in your config? if you are you need to avoid doing so, or use the version provided in taffybar's util

[2018-07-05 05:57] IvanMalison commented on #231
@teleshoes Looks like you have at least one use of postGUIAsync (although this seems to be with an old version of gtk, do you have a branch with a gi-gtk version of your config?) here:

https://github.com/teleshoes/wolke-home-config/blob/master/.config/taffybar/lib/Image.hs#L22

You'll need to replace that with this one for now:

https://github.com/travitch/taffybar/blob/80bc3440144ad3e8697677fde7

[2018-07-05 07:55] Tordek commented on #384
Could this one also be because of #231? I had gotten a couple different, seemingly unrelated crashes, at least one being an assertion failure.

[2018-07-05 08:10] IvanMalison commented on #384
Yes, it is quite likely this was #231. #231 caused heap corruption which would often not directly cause a crash, only to cause issues later, so it may ifested as several different issues.

[2018-07-05 08:15] Tordek commented on #370
Another likely candidate for #231

[2018-07-05 08:16] Tordek commented on #349
That last to-do can be checked :P

[2018-07-05 13:53] IvanMalison commented on #349
No this is calling for a rewrite that is more substantial that changes some stuff about the internal workings of the widget.

[2018-07-05 13:54] IvanMalison commented on #370
@ARR8 Can you reproduce this on master?

[2018-07-05 15:18] Magicloud opened #398 "Crash with error message."
**NOTE: If your issue is really a support request, please use the gitter channel to ask it instead of filing an issue https://gitter.im/taffybar/Lobby (REMOVE THIS IF NOT).**

**Describe the bug**
I have not figured out how to trigger this. Taffybar just crashed suddenly. And I saw message in .xsession-errors
[code]
Not sure the "ErrorEvent" is related.

**To Reproduce**
Not sure.

**Expected beha

[2018-07-05 15:34] ARR8 commented on #370
No. After updating to master, I can't launch taffybar anymore without it immediately crashing after gmem.c fails to allocate ~17 million terabytes. Should I file a separate issue?

[2018-07-05 17:12] IvanMalison commented on #370
Whoa. Can you post your config?

[2018-07-05 17:14] IvanMalison commented on #398
Taffybar will almost always survive those error messages. Are your running off of the absolute latest version (from late yesterday)? If not, you are likely hitting #231 which was just fixed

[2018-07-05 18:13] ARR8 commented on #370
I could, but I think I know the problem. This line, which worked in the previous version to unbind the size of the labels in windows widget:

`
      windows = windowsNew WindowsConfig { getMenuLabel = truncatedGetMenuLabel (maxBound :: Int), getActiveLabel = truncatedGetActiveLabel (maxBound :: Int) } -- not truncated
`

I guess something changed in the way taffybar allocates memory. I'm not sure

[2018-07-05 18:33] IvanMalison commented on #370
@ARR8 ahh yes, the issue you are encountering has to do with
https://github.com/haskell-gi/haskell-gi/issues/128

There is actually a bug in our code, because we are simply passing the value for max length through that is provided.

So all you want is to have the no limit on the length correct?

Wouldn't something like:
[code]

work?

I'll rewrite the truncated functions to make them less dangerou

[2018-07-05 18:36] IvanMalison commented on #394
I haven't seen this in since  #231 and #256 have been closed. I'll give it two more days and then I'm going to close.

[2018-07-05 18:37] IvanMalison commented on #384
Closing as related to #231. Will reopen if seen again.

[2018-07-05 18:37] #384 closed

[2018-07-05 18:54] LeifW commented on #377
Yes, unfortunately. I just built from master, and it doesn't seem to have that much of an effect. It was still crashing about once every 10 minutes (depending on use) if I have the battery widget on (Though that's way better than how it was crashing every few seconds under GHC 8.4.2). It hasn't crashed in the past half hour, though. *fingers crossed*

[2018-07-05 18:55] ARR8 commented on #370
Great, thanks. I can't really parse that code, but if it's dynamically getting the length of the title then that's exactly the behavior I want.

To answer your original question, I can't reproduce the issue anymore, and taffybar is more stable overall.

[2018-07-05 18:58] IvanMalison commented on #370
@ARR8 Okay, closing because the stack trace you posted looks very similar to the ones we were getting from #231 . I think you were probably seeing taht issue here as well.

[2018-07-05 18:58] #370 closed

[2018-07-05 19:00] IvanMalison commented on #398
It looks like you are running form 2.1.2, if so I suspect that this is simply #231, I'm going to close for now, but feel free to reopen if you see this on master.

[2018-07-05 19:00] #398 closed

[2018-07-05 19:03] IvanMalison commented on #283
ghc < 8 willl no longer be supported.

[2018-07-05 19:03] #283 closed

[2018-07-05 20:09] IvanMalison opened #399 "Workspaces: Highlight the workspace being displayed on the workspace that the taffybar window is displayed on"
This means that different taffybar windows will highlight different workspaces if they are displayed on different monitors.

[2018-07-05 20:53] IvanMalison opened #400 "Use Data.GI.Gtk.Threading instead of custom postGUI definitions"
This requires haskell-gi/haskell-gi#173 to be fixed

[2018-07-06 04:58] Magicloud commented on #398
Pulled the latest source from github and installed. Crashed in 5 mins. I saw some logs in other issues, wondering how could I get something like that?

[2018-07-06 05:05] IvanMalison commented on #398
Can you run with gdb?

[2018-07-06 05:06] IvanMalison commented on #398
@Magicloud when you say that you installed, can you mention what you installed with?

[2018-07-06 05:06] IvanMalison commented on #398
and can you post your config?

[2018-07-06 05:07] Magicloud commented on #398
Latest source installed with cabal, ghc 8.4.3.
.config/traffybar/traffybar.hs
[code]

[2018-07-06 05:07] Magicloud commented on #398
I am not quite familiar with GDB.

[2018-07-06 05:13] IvanMalison commented on #398
ghc >= 8.4 is not currently tested

See #358, #377

to run gdb (install it with whatever pm you use) then run

gdb taffybar

and cause the segfault. This will drop you in to a repl where you can type `where` to get a backtrace

[2018-07-06 05:14] IvanMalison commented on #377
@LeifW Any chance you can run with gdb to get a backtrace?

I'll probably look in to this soon, but would be nice if i could verify I am seeing the same hting.

[2018-07-06 06:46] LeifW commented on #377
Sure, I'll give that a try. It sometimes takes a while to crash. It seemed to crash quicker with the taffybar.hs.example included in the repo, where the major difference from my config seems to be the `withBatteryRefresh $ withLogServer $ withToggleServer`.
I also get stacktraces on crash when I run it with systemd - would that be good enough, or you want me to run the backtrace command in gdb whe

[2018-07-06 07:53] LeifW commented on #377
Running `bt` after a crash in gdb give me:
[code]

[2018-07-06 08:03] IvanMalison commented on #377
huh, well thats pretty useless. Did you compile with -g and -debug?

[2018-07-06 16:39] IvanMalison commented on #394
This is still happening

[2018-07-07 02:52] Tordek commented on #193
Is this fixed with #256 complete?

[2018-07-07 02:56] Tordek commented on #190
Fixed with #231?

[2018-07-07 04:31] IvanMalison commented on #190
No, unfortunately. This is an X11 problem that dones't have a clear solution.

[2018-07-07 07:34] IvanMalison commented on #231
@teleshoes Any chance you can take a look and confirm my theory? Taffybar's stability has improved DRAMATICALLY for me since this has been fixed.

[2018-07-07 14:09] teleshoes commented on #231
i certainly will, as soon as i get a chance

[2018-07-08 08:50] #400 closed

[2018-07-08 20:29] IvanMalison commented on #231
@teleshoes Now that #400 is closed, things SHOULD just work (provided you are using a new enough version of gi-glib i.e. at least 2.0.17).

[2018-07-11 23:54] IvanMalison commented on #332
* nm-applet needs to be started as `nm-applet --sm-disable --indicator`

[2018-07-12 00:32] mimi1vx commented on #292
haskell/cabal#4206 is pretty bad idea ..

[2018-07-12 00:50] IvanMalison commented on #292
@mimi1vx Why do you think that?

[2018-07-12 04:40] Magicloud commented on #270
Similar issue, not sure root cause is the same.

Latest source from github. Font size in css is 15pt, barHeight in taffybar.hs is 24.

I have two screen attached, so I can compare. The actual barHeight is larger than strut avoid size. About 1/4 is covered by application windows.

[2018-07-12 04:52] IvanMalison commented on #270
you need to either increase barHeight, or decrease barSize...

[2018-07-12 04:53] IvanMalison commented on #270
pt != px

[2018-07-12 05:17] Magicloud opened #402 "Bar can grow longer than screen width."
**Describe the bug**
The bar is supposed to be strictly the same length as the width of the screen (assuming the bar is at top or bottom). But when window title widget contains a too long string, the bar grows to the screen on the right.

**To Reproduce**
Two monitors, set as left one and right one. Open a window with quite long title. You will see the left end of the bar in right screen got cover

[2018-07-12 05:59] IvanMalison commented on #402
This is the same issue as #270 in the sense that the reason it exists is that there is no way to specify that a widget should not grow beyond a certain size at the window level. If you think about it, figuring out what to do when you need more space than what was allocated is kind of a tricky problem.

There are ways to prevent this a bit more easily in the case of horizontal width though:

- Set

[2018-07-12 06:02] IvanMalison commented on #270
@Magicloud Well, then some other element is responsible for making the bar larger than the height that you have specified. Perhaps padding in your CSS? Could also be images. If you paste an image it might be easier for me ot see.

I meant that you need to increase barHeight. Not sure why I said decrease.

[2018-07-12 14:31] mimi1vx commented on #292
@IvanMalison is good for developer,  but for packager is this nightmare.

[2018-07-12 17:08] teleshoes commented on #231
@IvanMalison been on `a9d7681` for 3 full days without a crash :D

[2018-07-12 23:15] IvanMalison commented on #231
awesome!

[2018-07-14 15:44] IvanMalison opened #403 "Taffybar crashes when window requires icon that is not found in icon theme"
Errors will look like:

[code]

Setting

[code]

in WorkspacesConfig can circumvent this issue for now, but we should find a better long term fix.

[2018-07-15 17:58] IvanMalison opened #404 "SNI icons that provide the empty string as an IconName cause crashes"
Steam does this, and causes taffybar to crash

[2018-07-16 07:33] Magicloud commented on #270
@IvanMalison Thanks. Finally I got time to confirm the issue is in the default .css. Some padding-s.

[2018-07-16 21:29] mimi1vx commented on #335
still only almost, iw lib looks like pretty good and stable solution:D

btw what about build config options for taffybar features ?

[2018-07-16 21:36] mimi1vx opened #405 "Configurable features by cabal build flags"
Make taffybar features and deps configurable like xmobar:D

By default left all features enabled but can request disabling it. And disabled for experimental features.

for example I don't use any MPRIS2 compactible player + tray and CPU widget, but need experimental iw based wifi widget:

`cabal configure -f -SNITray -f MPRIS2 -f -CPU -f iwwifi`

and thanks to this build lighter bar without unneed

[2018-07-16 23:47] IvanMalison commented on #405
@mimi1vx You can use the taffybar.hs file to configure which widgets are present.

I'm a bit wary of adding feature flags to get around the dependencies issue because i think that will make packaging for distros and installation a lot more complicated.

What would this buy us?

[2018-07-17 13:39] mimi1vx commented on #405
this is different thing

In reality, it simplifies live of distros.. Any distribution packager knows how to work with build Flags

and for example, we used "xmobar" build flags to build xmobar-0.26.x with LTS-12  without dbus and hinotify...

[2018-07-17 16:08] IvanMalison commented on #405
What dependency are we trying to avoid in this case?

[2018-07-17 16:17] LeifW commented on #405
Another option would be to have a core taffybar lib, and have monitors that
add extra deps be in other package(s), a la xmonad-extras.

On Tue, Jul 17, 2018, 9:08 AM Ivan Malison <notifications@github.com> wrote:

[2018-07-18 08:22] mimi1vx commented on #404
another example is https://remmina.org/

[2018-07-18 21:05] IvanMalison commented on #404
@mimi1vx @MagicCloud can either of you verify that the issue is fixed on master/with gtk-sni-tray 0.1.5.0?

[2018-07-19 01:30] IvanMalison commented on #332
* all visible windows appear in the active workspace: xmonad/xmonad-contrib#238 taffybar/taffybar#369 taffybar/taffybar#239

[2018-07-19 07:33] Magicloud commented on #404
Seems fixed. Thanks.

[2018-07-19 17:24] #404 closed

[2018-07-25 08:24] mgttlinger opened #406 "Automatic documentation deployment to hackage/or at least automatic generation of documentation from master"
Since release 2.1.2, there is no API documentation for taffybar on hackage. Previous versions had their documentation uploaded by the maintainer.

**Describe the solution you'd like**
If possible it would be good if the documentation gets published to hackage along with the release in an automated fashion.

[2018-07-25 18:14] IvanMalison commented on #406
@mgttlinger Yes, agreed. I think I just forgot to do it with 3.0.0. I'll try to update the documentation today.

Contributions are always welcome!

[2018-07-26 23:11] IvanMalison commented on #402
@sheyll , well I don't think the bug label is wrong so much as this should simply be closed in favor of #270.

The reason I left it open is that the mitigation strategy might be slightly different than that of #270 in the sense that it might be slightly easier to detect and make adjustments for. e.g. we could simply truncate any widgets that take us over the limit.

[2018-07-28 14:14] mrkgnao commented on #394
Happens to me too.

[2018-07-28 18:44] IvanMalison commented on #394
@mrkgnao Can you post your config, distro and installation method?

[2018-07-29 04:19] mrkgnao commented on #394
NixOS, official repos, virtually vanilla config:

[code]

[2018-07-29 04:20] mrkgnao commented on #394
I switched back to Polybar for now since usually my computer stays up for a few days at a time, so I had to restart Taffybar often. :(

[2018-07-29 08:06] IvanMalison commented on #394
@mrkgnao Any chance you can try running without the battery widget? I believe that is the issue

[2018-07-30 17:38] IvanMalison commented on #402
@sheyll I've update the issue to reflect that this is a slightly different issue in that it could be mitigated without necessarily fixing #270 (which is very difficult).

[2018-07-30 17:39] IvanMalison commented on #379
@ARR8 Is this still an issue @Tordek changed the way things are escaped.

[2018-08-01 04:43] Magicloud opened #407 "Please update stackage version along with xmonad"
Xmonad in stackage/lts-12.4 has been upgraded to 0.14. Now I cannot recompile xmonad due to pagerHints.

[2018-08-01 23:35] IvanMalison commented on #407
I was not even aware that taffybar is in stackage. See https://github.com/taffybar/taffybar/issues/141

[2018-08-01 23:55] Magicloud commented on #407
Just checked a little, maybe I was wrong. I cannot find taffybar in lastest lts resolver, from stackage website. But apparently it knows how to build.
[code]

[2018-08-06 02:10] #407 closed

[2018-08-06 02:15] Magicloud opened #408 "notifyArea does not honor the expire time of notifications."
**Describe the bug**
Every notification stays in notifyArea until I close it manually.

**To Reproduce**
Steps to reproduce the behavior:
Use taffybar with notifyArea for some time.

**Expected behavior**
Notification should be gone after its expiration time.

**Screenshots**

**Version information**
Taffybar version (or git sha if building from source): 6e6d3b4180e291f3555e796cfea95a24118f0426
In

[2018-08-06 20:08] ARR8 commented on #379
Yes, this is still an issue

[2018-08-12 09:04] srhb commented on #377
Is this better?
[code]

[2018-08-12 09:12] srhb commented on #377
Looks like I get different results though...

[code]

[2018-08-14 03:16] Magicloud commented on #408
I just read the source. So there is relative logic on the expire timeout. Wondering why the notifications still stay there.

[2018-08-14 03:30] Magicloud commented on #408
OK. I see. I think the definition is not correct.

The line src/System/Taffybar/Widget/FreedesktopNotifications.hs:197 takes timeout as second, but it should be millisecond.

So I tried `notify-send -t 1 TEST` and it worked as expected.

FYR:
[code]

[2018-08-14 03:58] Magicloud commented on #408
#410

[2018-08-15 03:14] #408 closed

[2018-08-23 13:55] anarcat commented on #141
the xmonad issues have been resolved, is there anything else holding this up?

[2018-08-26 19:14] qrilka opened #411 "Padding issues with workspaces"
**NOTE: If your issue is really a support request, please use the gitter channel to ask it instead of filing an issue https://gitter.im/taffybar/Lobby (REMOVE THIS IF NOT).**

**Describe the bug**
It appears that styling in workspaces widget gives extra padding and the default font is too large, e.g. see https://i.imgur.com/i5OFpD5.png - I have used the default config and removed `barHeight` (with

[2018-08-26 19:29] IvanMalison commented on #411
Isn't this just #270

[2018-08-26 19:33] IvanMalison commented on #403
@qrilka Are you using nixos?

[2018-08-26 20:51] qrilka commented on #411
@IvanMalison probably it is as this one looks the way I tried to solve it 1st time:

[2018-08-26 20:52] #411 closed

[2018-08-26 20:52] qrilka commented on #403
Nope, Gentoo

[2018-08-26 20:57] qrilka commented on #270
@PierreR could you show your config (and probably css)? I have tried the default ones and appearance of selected workspace looks very bad, nothing like what's on your screenshot

[2018-08-26 21:46] PierreR commented on #270
@qrilka well the css was working with taffybar-1.x at the time but since then many changes have been made in taffybar so it won't be of much use.

@IvanMalison It would be nice to have a handful of working css within this repo and some screenshot to improve the overall user experience. I would share mine when I am ready to use  taffybar 3.x.

[2018-08-27 07:52] qrilka commented on #270
@IvanMalison I've used that CSS (made workspace label font smaller and decreased padding) and workspace selection doesn't look great - https://imgur.com/a/8v7c65Q
Is it expected to be just some white bar under an icon? I guess I need to fiddle with CSS e.g. to change workspace label color/background?

[2018-08-30 15:32] PierreR commented on #270
@IvanMalison I might be missing something but on `nixos` this is what you get using the current default css (just removing the battery and the mpris2New widget.
![taffy](https://user-images.githubusercontent.com/93115/44862180-6da02700-ac7a-11e8-9343-f708e6f73a3a.PNG)
I know it can be changed to look better. I just want to express that the default provided css looks really bad.

[2018-08-30 16:31] PierreR commented on #377
I am not using the battery widget and I can reliabily get a segmentation fault.

Within a virtualbox, I just need to go full screen and taffybar will die:

[code]
This makes it useless and is forcing me to go on using `taffybar-0.4.6` for now. My biggest worry is that Taffybar 3.x is going to be the default version in the next stable nixos 18.09.

[2018-08-30 16:47] PierreR commented on #377
I have removed the `tray` widget. Still get the segmentation fault even if I have to go from full screen and  back a couple of times to get it.

[2018-08-30 18:46] IvanMalison commented on #377
@PierreR The tray widget should have nothing to do with it. It's only the battery widget that causes the issue.

[2018-08-30 18:49] IvanMalison commented on #377
@PierreR Are you using xmonad?

This really isn't such a big deal. You can just copy the 0.4.6 deriviation (Why not simply go back to 1.0 or 2.0 for example) into your own custom files to make things work (I can help you with this if it really does become an issue).

The other thing you can do is compile taffybar with ghc-8.2 which should not be too hard with nix.

With all of that said, I'm going

[2018-08-30 19:53] IvanMalison commented on #270
@PierreR The default taffybar configuration is meant to be used with a compositor that allows transparency. It seems like you aren't using one.

What exactly "looks bad" about it to you?

[2018-08-30 20:30] IvanMalison commented on #358
It seems to me that there IS actually a segfault in ghc 8.4 that is unrelated to the battery widget.

People have been commenting #377 about this, but discussion should continue here.

[2018-08-30 21:02] qrilka commented on #270
@IvanMalison I was using version older version `0.4.6` with no problems on bare bones xmonad (without any special tweaks) so now some extra care is required? Any hints how this could be done? Is this reliance on transparency documented in any way?

[2018-08-30 21:49] PierreR commented on #377
@IvanMalison Thanks for your help. In my case I don't use the battery widget at all (and taffybar is compiled with  `ghc-8.4.3`.  [Here](https://lpaste.net/911320450221473792) is my config. Is it certain that the problem is related to  `ghc-8.4` ?

[2018-08-30 21:52] PierreR commented on #358
@IvanMalison Thanks for your help. Yep I don't use the battery widget at all (and taffybar is compiled with ghc-8.4.3. Here is my config. Is it certain that the problem is related to ghc-8.4 ? Could we renamed the issue title (GHC 8.4.x instead of GHC 8.4.2) ?

[2018-08-30 22:02] PierreR commented on #358
This ticket might be relevant: https://ghc.haskell.org/trac/ghc/ticket/15260

[2018-08-31 15:34] IvanMalison commented on #270
@qrilka I can change the default css so that it works without transparency if you tell me what you think sensible defaults would be. What exactly is it that you feel does not look good.

[2018-08-31 17:20] qrilka commented on #270
@IvanMalison I think the main inconvenience for me is with workspace selection - on my notebook with old taffybar it shows selected workspace label in square brackets and with yellow font.
Also there seem to be a couple of other minor issues but those are not probably about css so I will file them as separate tickets.

[2018-08-31 18:12] IvanMalison commented on #270
@qrilka Yes, that is not so much a cosmetic change as a change to the way the workspace widget works completely. I personally do not like the brackets strategy (I think a color or a box surrounding the workspace looks much nicer, which is why that is the default approach now). You can restore the old behavior of square brackets using this property:

https://github.com/taffybar/taffybar/blob/09c600

[2018-09-01 21:34] qrilka opened #412 "Window title moves end widgets off screen"
**Describe the bug**
It appears that window title label has no width limit so if it gets too long then it moves end widgets far that the screen width so they get hidden. Not sure if a screenshot matters here but there's one I get - https://imgur.com/a/AonJLsy (normally I have weather widget, cpu meter and date/time)

**To Reproduce**
open window with very long title

**Expected behavior**
window t

[2018-09-01 22:12] IvanMalison commented on #412
You can limit the length of the window with

https://github.com/taffybar/taffybar/blob/09c600cdc1332619087a90c3958d5d1fd68a6067/src/System/Taffybar/Widget/Windows.hs#L49

This is not the default because different people might want different sorts of truncation.

[2018-09-01 22:13] #412 closed

[2018-09-02 18:34] IvanMalison commented on #412
Yes.

[2018-09-04 19:55] benley opened #413 "Color emoji in window titles cause taffybar to double in size"
**Describe the bug**
My taffybar is normally 55 pixels tall, and contains a window list widget, which usually works fine.  If a X11 window title happens to contain certain emoji characters, taffybar abruptly doubles its height to display the super high-res emoji glyphs.

**To Reproduce**
[My taffybar config](https://github.com/benley/dotfiles/blob/d1d4f8f1ccdde8339851adeecc8fbc60c4e35feb/cfg/.conf

[2018-09-04 20:39] benley commented on #413
Interesting.  Is there a way for taffybar to at least be aware of its actual height and update the strut height accordingly?  It would be kinda cool if taffybar.hs didn't set a height in pixels at all and that all happened in CSS.

[2018-09-04 21:11] IvanMalison commented on #413
Yes, I have wanted to do things this way for a long time. Unfortunately, the taffybar internals need to know about the height in order to allocate the strut space.

I think what you are asking here is whether taffybar can dynamically set the strut allocation and window size.

There are a couple of reasons this isn't possible:

- At least in the case of xmonad, once a window is marked as "being a s

[2018-09-05 16:39] IvanMalison commented on #276
https://github.com/IvanMalison/notifications-tray-icon

[2018-09-05 16:42] IvanMalison commented on #358
I'd say I'm 95% certain this is related to ghc 8.4. It does not seem to happen in 8.2

Does anyone have a consistent repro of this issue. I have seen it, but it generally only happens the first time taffybar is opened after boot or recompilation.

[2018-09-05 16:53] Magicloud opened #414 "Crashing with no clue on trigger."
**NOTE: If your issue is really a support request, please use the gitter channel to ask it instead of filing an issue https://gitter.im/taffybar/Lobby (REMOVE THIS IF NOT).**

**Describe the bug**
This bugs me for a while, I have to run `gdb` with it to catch the crash. Seems like it is more likely to occur after reboot. After about twice crashing, it can stay alive for quite a long time.
[code]

[2018-09-05 16:54] IvanMalison commented on #414
This is a duplicate of #358 . If you want stability it is recommended that you use ghc 8.2.x

[2018-09-05 16:54] #414 closed

[2018-09-05 16:55] benley commented on #413
Ah, got it.  So in order to change the height of the strut space, taffybar would have to delete and recreate its window?

[2018-09-05 16:57] IvanMalison commented on #413
Right. Which is actually quite possible.

Check out https://github.com/travitch/taffybar/blob/09c600cdc1332619087a90c3958d5d1fd68a6067/src/System/Taffybar/DBus/Toggle.hs#L16

if you want to be able to restart taffybar manually.

[2018-09-09 21:00] qrilka commented on #270
@PierreR any pointers how that gets done for those who are not aware?

[2018-09-17 04:55] Infinisil commented on #367
This is a nixpkgs problem, see https://github.com/NixOS/nixpkgs/issues/39493

[2018-09-17 14:30] Infinisil commented on #367
Here's my taffybar wrapper: https://github.com/Infinisil/system/blob/8ae3600dee9db833dfe25802ae93d49d16dac985/config/new-modules/x/taffybar/default.nix#L45-L46

[2018-09-17 18:41] PierreR commented on #367
@Infinisil Thanks of the link ! Is it something that will land in `nixos-18.09` ? Do you think it would fix the issue I have with [this PR](https://github.com/taffybar/taffybar/pull/415) ? The wrapper works fine with the current stable channel (which is `ghc822`) by default but would fail to load the configuration dynamically in the unstable branch (default is `ghc843`).

[2018-09-20 06:14] iamjamestl opened #416 "Window titles containing multibyte characters are chopped off"
When a window title includes multibyte characters, the string is displayed prematurely truncated.  For example, the Unicode 'dot' in this title results in the 'x' in Firefox being chopped off:

![taffybar-truncated-window-title](https://user-images.githubusercontent.com/646230/45799035-21914280-bc7a-11e8-9e24-ebf9202ede29.png)

This seems to be because when the strings are passed to the [`markupEs

[2018-09-20 18:28] #416 closed

[2018-09-21 21:16] cstrahan commented on #358
This also happens with GHC 8.2.2. I've seen the segfault occur within a minute of normal switching spaces, and I can reliably get it to crash within 3 or 4 seconds by creating a couple windows and holding Mod+Tab (e.g. "next window").

Here's the NixOS overlay I'm using:

[code]

[2018-09-21 21:45] IvanMalison commented on #358
@cstrahan Pretty sure THIS particular issue is related to ghc 8.4. Which version of taffybar does this end up using. If it is anything before 3.0.0 then you are encountering a different issue.

[2018-09-21 22:44] cstrahan commented on #358
@IvanMalison  I take back what I said above -- I'm guess I somehow was using an old build when I ran into those segfaults, because I've been successfully running taffybar for the past hour or so with the above configuration.

[2018-09-29 13:14] gabrielhdt commented on #394
Hi,
I have the same issue, here is my config

[code]
I don't have a high cpu usage but I do have a high memory usage.  I'll try removing the battery widget.

[2018-09-29 15:52] PierreR commented on #281
It is quite surprising to have travis CI working on specific dockers. What about using a more classical approach ?

[2018-09-29 15:55] PierreR commented on #281
It is quite surprising to have travis CI working on specific dockers. What about using a more classical approach ?
Not sure if this is related but  you would expect `stack-8.0.yaml` to be about the LTS-8 while this is not the case at all. Not sure what 8.0, 8.2, 8.4 are meant to stand for.

[2018-10-02 15:21] nomeata opened #420 "Simple Command Button Widget"
I want to add a button to my taffybar that simply executes a command (in my case, to rotate the screen). I am surprised that there is no readily available widget for that – `System.Taffybar.Widget.CommandRunner` sounded promising, but is something different.

Expecting a type signature like
[code]

[2018-10-02 18:11] IvanMalison commented on #420
@nomeata Seems reasonable, and quite easy, actually.

You should be able to reuse a bunch of the functions that run an executable.

[2018-10-06 19:08] silasdavis commented on #355
Thanks for this and the update.

The thing that threw me was the link to the gtk-sni-tray project - it's not that obvious that you are suggesting people just need to run status-notifier-item and not gtk-sni-tray-standalone. That readme suggest you use the gtk-sni-tray widget through taffybar. So then the question is am I meant to run gtk-sni-tray-standalone and connect the two (processes) somehow?

[2018-10-06 19:48] silasdavis commented on #355
Currently running `stack exec status-notifier-item-static &` (which seems to be the binary I get from stack) from my xinitrc or from my xmonad startuphook spawn before taffybar runs gives me the same error as originally reported. I'm using a plain `sniTrayNew` call in my taffybar.hs. Should just running the status-notifier-item work?

[2018-10-06 22:37] IvanMalison commented on #355
@silasdavis That is the wrong binary. you need to run status-notifier-watcher

[2018-10-06 22:39] IvanMalison commented on #355
status-notifier-item-static is just a sample status-notifier-item so that you can test that your tray is wsowrking.

[2018-10-07 11:43] wizzup opened #421 "No document on hackage for 3.0.0"
There are no document on current [taffybar](https://hackage.haskell.org/package/taffybar).

`Hoogle` provide no [result](https://www.haskell.org/hoogle/?hoogle=SimpleTaffyConfig) on search related to `taffybar`.

The latest document available is of [v2.1.2](https://hackage.haskell.org/package/taffybar-2.1.1).

**Describe the solution you'd like**

Provide some document for 3.0.0 even if it is just

[2018-10-07 11:46] wizzup commented on #421
Sorry, I somehow overlook #406 (can't find via search). Closing this one.

[2018-10-07 11:46] #421 closed

[2018-10-11 22:14] Infinisil commented on #394
Seems to be a different issue then

Removing all battery stuff from my config didn't solve it for me. I'm having the same issue as in this PR.

[2018-10-20 19:38] LeifW opened #422 "Partial pattern match in do notation breaks on GHC 8.6"
Same thing as: https://github.com/IvanMalison/gtk-strut/pull/3
Could either add a `MonadFail` constraint, or use `fromJust` there?

**Describe the bug**
Build failure on GHC 8.6.1:
[code]

**To Reproduce**
Build with GHC 8.6.1

**Expected behavior**
Compiles successfully

**Version information**
Taffybar 3.0.0
GHC 8.6.1
Gtk 3.24.1

[2018-10-21 02:00] IvanMalison commented on #422
Then we would need to figure out what to do in the case of failure. It's not really clear what should be done.

[2018-10-22 22:11] Magicloud opened #423 "Possible to switch to gi-cairo?"
**Describe the solution you'd like**

ghc 8.6.1 has been released for a while, but latest cairo is still not buildable against it. So right now, when I build taffybar with cabal-install, it tries cairo-0.13.1.1, which contains problems to build as well.

Just saw that haskell-gi has a cairo binding, and I did not see cairo as a dependency of gi-cairo.

Is it possible to switch?

[2018-10-22 22:54] LeifW commented on #358
GHC 8.4.4 has been released, which has a fix for memory corruption after FFI calls.
Also, I just switched to GHC 8.6.1 (Arch upgraded their GHC package). I'll see if any crashes happen subsequently (and I'll try re-adding the battery widget).

[2018-10-23 00:29] IvanMalison commented on #358
@LeifW Awesome. definitely keep me posted!

[2018-10-23 00:30] IvanMalison commented on #423
hmm popssibly yes, but i have a vague recollection that something we need isnt supported

[2018-10-24 06:20] LeifW commented on #358
I'm running taffybar as a systemd user service, which is nice because it'll restart on crashes like these, but I can also view all the logs of such things. Looks like the last segfault was October 9th, before I upgraded to GHC 8.6.1. It was segfaulting several times a day back then. I re-added the text battery widget, switch and drag windows around, an d no segfaulting.
So I'm guessing it was that

[2018-10-24 23:42] IvanMalison commented on #358
@LeifW Just to be clear, you think this fixes BOTH the battery issue and the more intermittent crashes that were unrelated to the battery?

[2018-10-25 18:08] purefn commented on #358
I can confirm that upgrading to ghc 8.4.4 from 8.4.3 has made taffybar **much** more stable. Before it was crashing almost immediately, with or without the battery widget and window icons. I've now had taffybar running for fifteen minutes without a crash with the battery and window icons enabled. I've been switching workspaces and windows rapidly trying to make it crash and it's continued to chug

[2018-10-26 07:15] Magicloud commented on #423
I was too young, too simple. Just got time and checked that gi-cairo is the binding of cairo, more likely just an interface.

[2018-10-27 10:39] Magicloud commented on #423
I think the replacement can be done via gi-cairo-render and gi-cairo-connector packages, which are not in hackage yet.
Also a few other packages are unbuildable. Working on fixing....

[2018-11-16 11:01] Magicloud commented on #423
I think things are simpler now. haskell-gi seems imported gi-cairo-render. But not quite done, I think.

[2018-11-26 17:32] zearen commented on #138
Vertical support is the one thing stopping me from using TaffyBar.  I'm an experienced Haskell programmer.  Would you mind if I took a stab at this ?

[2018-11-27 04:06] IvanMalison commented on #138
@zearen Of course not.

You may want to look at

https://github.com/IvanMalison/gtk-strut

which already supports vertical orientations, and:

https://github.com/taffybar/gtk-sni-tray

It really shouldn't be a ll that hard. I think the main issue will be that many of the widgets assume a certain orientation, so it will really be a matter of fixing each widget individually.

Now that I think about

[2018-11-27 18:30] zearen commented on #138
Yeah, that was my evaluation.  It's just a bunch of busy work, which should be a nice break from my day job.

My first instinct was to add an `Orientation` enum to the widgets' constructor.  At worst, we could just ignore it with a `const`.

[2018-11-28 02:54] IvanMalison commented on #138
@zearen All of the widgets are already in a reader monad that has context about the bar configuration and other things. I think it's probably better to put the information about the bar orientation there so we dont have to change the signature of every single widget.

[2018-11-30 21:08] anarcat commented on #406
ping? how can we help updating the docs here? is this related to #316?

[2018-11-30 22:32] IvanMalison commented on #406
@anarcat Unfortunately, I need to do this because it requires access to hackage for taffybar. I'll need to encrypt a set of credentials to auto upload.

I suppose that if you could make a travis ci build that builds the haddocks (without necessarily uploading them) that could be helpful

[2018-12-05 00:07] amurrayc commented on #352
What would be the desired behaviour for shared channels?  At the moment, each widget (at least the ones created by `channelWidgetNew` and `channelGraphNew`) has its own channel that connects to an information source.  Would the idea be to allow two related widgets (like a battery icon and a battery text widget) to share an information source?

Wouldn't most widgets have independent sources?

[2018-12-05 00:29] IvanMalison commented on #352
As I mentioned in your pull request, this is not correct. They all share a channel because the value is retrieved through `getStateDefault`, which ensures that there is only one value that is retrieved every time whatever the relevant get function is called.

[2018-12-05 00:32] IvanMalison commented on #352
Yes, most widgets have independent sources (although not all e.g. battery graph or icon and battery percentage), but people with multiple displays (and multiple taffybars) are going to have multiple instances of the same widget. The current implementation uses a channel and a single source for information retrieval, but updates all of the widgets for each new piece of data.

[2018-12-05 03:42] IvanMalison commented on #352
I should clarify that they each have their own read end of the channel, but they share the write end of the channel.

[2018-12-05 03:44] IvanMalison commented on #352
@amurrayc if you want to spearhead migrating all of our channels to https://github.com/merijn/broadcast-chan I would greatly appreciate it.

I think the reason I didn't take it on myself was that I was a little worried that it doesn't seem to have all that much community support, but maybe we can help with that I guess.

[2018-12-05 20:43] amurrayc commented on #352
I've done a pretty simple switch to broadcast-chan in the abovementioned fork. It's in the broadcast-chan branch.

As far as I can tell, in the Chan-based approach, the first listener creates the information channel but then it, and all subsequent listeners `dupChan` and then start reading. That means there are n+1 channels but only n listeners. Am I missing something?

Anyway, now the first chann

[2018-12-05 20:56] amurrayc commented on #352
Also, the changelog for broadcast-chan says "Complete rework to be actually practical." for version 0.2.0.

This is only in stackage nightlies as far as I can tell.

[2018-12-06 18:50] anarcat commented on #308
@PierreR how did you actually do that? i have yet to figure out how to style that thing now... :/

[2018-12-06 19:18] PierreR commented on #308
@anarcat With `taffybar-3.x` the default styling is much better. So currently I don't think I have a lot of custom trick in the css that I used. Here is the link: https://github.com/PierreR/devbox-dotfiles/blob/master/.config/taffybar/taffybar.css

[2018-12-06 19:20] PierreR commented on #308
@anarcat Actually I have just remembered that you really want a compose manager such as `compton. Then the default styling is quite alright.

[2018-12-06 22:37] IvanMalison commented on #308
@anarcat just build from source... it's the better option anyway

[2018-12-07 06:04] LeifW opened #427 "Upower IDL files can't be parsed by haskell-dbus version 1.1.1 becasue of annotation properties"
**Describe the bug**
Trying to build on GHC 8.6: it gets to here and then fails:
[code]

**To Reproduce**
Clone the taffybar repo, and then run "cabal configure; cabal build" in there.
**Expected behavior**
The build succeeds

**Version information**
Taffybar current release (3.0.0) or git master (d65b3997fe6203b8ca13854238f9a2a00363b2ec)
Deps installed as Arch packages
Gtk version:
gtk3 3.24.1+8+

[2018-12-07 14:12] anarcat commented on #308
On 2018-12-06 14:37:12, Ivan Malison wrote:

"just build from source", you make it sound so easy. :)

[2018-12-07 18:04] IvanMalison commented on #427
What version of haskell-dbus?

[2018-12-07 18:05] IvanMalison commented on #308
i mean it is. Presumably you already have ghc installed since you have taffybar installed. You can just clone and then install with cabal install. You might need a few more dependencies but they are all mentioned in the README.

[2018-12-07 18:09] anarcat commented on #308
i know. i've build haskell things in the past, including taffybar, xmonad and frigging git-annex. i always end up with a forest of stuff that i get lost into and quickly go back to my normal user hole and use debian packages and feel all safe again.

that way someone else has the shitty job of pretending like they audit the source code they inject into everyone's computer. :)

and anyways, at this

[2018-12-07 19:38] IvanMalison opened #428 "PulseAudio Volume Widget"
We could use this dbus interface

https://www.freedesktop.org/wiki/Software/PulseAudio/Documentation/Developer/Clients/DBus/

[2018-12-07 20:18] PierreR commented on #308
@anarcat FWIW you can install nix: it won't mess up with your system by definition.  You might need to deal with another kind of mess but at least you can do it without fear ;-)

[2018-12-07 20:36] PierreR commented on #308
@anarcat that said, stack won't mess with your system either. If debian comes with a version of ghc that works, I would believe `cabal new-build` won't either.

[2018-12-07 20:38] IvanMalison commented on #308
@PierreR nix might be a good suggestion though. I think I vaguely remember that debian has versions of certain gtk dependencies that might be too old or something like that.

[2018-12-07 20:58] LeifW commented on #427
1.1.1

On Fri, Dec 7, 2018, 10:04 AM Ivan Malison <notifications@github.com wrote:

[2018-12-07 20:59] IvanMalison commented on #427
@LeifW I think this issue is most likely to have to do with that than with anything with ghc8.6

[2018-12-07 21:00] IvanMalison commented on #427
Could also be related to something about how template haskell is processed though. That list should not be empty though,

[2018-12-07 21:33] IvanMalison commented on #422
Yeah using fromJust sounds good as well. Either way.

[2018-12-07 21:34] IvanMalison commented on #427
I suspect that this would not happen with a stack build because it would use the older haskell-dbus. Can you confirm?

[2018-12-07 21:58] rblaze commented on #427
I'm pretty sure I had seen this crash and fixed it. Could you share that xml file with me?

[2018-12-07 21:59] IvanMalison commented on #427
Looks like it is these:
https://github.com/taffybar/taffybar/blob/master/dbus-xml/org.freedesktop.UPower.Device.xml
https://github.com/taffybar/taffybar/blob/master/dbus-xml/org.freedesktop.UPower.xml

[2018-12-08 01:04] rblaze commented on #427
Ok, I fixed it indeed, but did not release new version yet.

Workaround: drop "annotation" tags from IDL. It is ignored anyway, and current release can't parse it. I'll release dbus-1.1.2 with latest fixes.

Just to make sure, could you try building with HEAD? I think stack allows to override package version with the one from git repo.

[2018-12-08 01:11] IvanMalison commented on #427
@rblaze Yep, its not hard. will do in a sec.

[2018-12-08 01:11] IvanMalison commented on #427
@LeifW so as I suspected the issue is actually with haskell-dbus and not with ghc. Can you confirm?

[2018-12-08 01:15] IvanMalison commented on #413
@benley Did you ever get to the bottom of this in any way? Figure out a workaround?

[2018-12-08 01:21] IvanMalison commented on #394
Could this be:
#352
?

[2018-12-08 16:29] bgamari opened #429 "Crash when remmina is running"
**Describe the bug**

It seems that taffybar is not robust against invalid icon data.

**To Reproduce**
Steps to reproduce the behavior:

1. Start `taffybar`
2. Start `remmina`

Observe that `taffybar` crashes with,
[code]

**Expected behavior**
Taffybar should continue to run.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version information**
Taffybar version (

[2018-12-08 20:58] IvanMalison commented on #429
@bgamari Can you clarify whether this is the SNI Icon or the workspace icon?

[2018-12-08 22:43] IvanMalison commented on #429
I just ran remmina, installed from nixpkgs on nixos though version (1.2.32.1 (git n/a)), and I did not experience a crash
![remmina](https://user-images.githubusercontent.com/1246619/49691463-67caa500-faf7-11e8-8117-865d6d6297a1.png)

Any ideas about why we are seeing different behavior?

[2018-12-09 00:02] IvanMalison commented on #427
@rblaze 1.2.1 does fix the issue, but we get other compilation probelms with status-notifier-item because of changes to types, so we cant bump taffybars version. Things are fine if we stay at 1.0.1. Unfortunately, because of the way that arch-linux sets things up, I'm not sure arch users will be able to downgrade. Perhaps @LeifW can comment about the best way to proceed.

[2018-12-09 01:11] LeifW commented on #427
Yeah, sorry if I implied this was a GHC 8.6 thing in my report. I've used taffybar with 8.6 before - the pertinent difference now is that the dbus library got upgraded. I think I'd prefer change status-notifier-item to build with the new dbus version. I put up a PR for that: https://github.com/IvanMalison/status-notifier-item/pull/3 The dbus library is in the official repos, and seem loath to down

[2018-12-09 01:15] LeifW commented on #358
@IvanMalison Yeah, I never really distinguished between those two issues so much, to be honest. On GHC 8.4.1 and 8.4.2, it would crash multiple times per minute with the battery widget, and without, multiple times per day. Now it's back to not crashing period, with or without battery widget. I'm assuming that referenced GHC bug was the issue.

[2018-12-09 01:15] #358 closed

[2018-12-09 01:17] LeifW commented on #377
I'm guessing this was from https://ghc.haskell.org/trac/ghc/ticket/14346 which affected GHC 8.4.1, 8.4.2, and 8.4.3. I don't get crashes when running a higher version of GHC.

[2018-12-09 03:40] IvanMalison commented on #377
Okay, I'm going to close as fixed then. Perhaps we should add something about old versions of ghc in the README?

[2018-12-09 03:40] #377 closed

[2018-12-09 17:32] bgamari commented on #429
I honestly have no idea why you wouldn't see the issue. However, the fact that the `Image file ... contains no data` error is treated as fatal is certainly a bug. Unfortunately I haven't yet been able to work out where it comes from.

[2018-12-09 18:54] IvanMalison commented on #429
Yeah, agreed, I just need a repro to figure out which component it is coming from.

I guess I can try to manually reproduce the issue by trying to manually point towards invalid image data to see what happens in that scenario.

[2018-12-09 19:23] #429 closed, assigned to nobody

[2018-12-10 06:15] bgamari commented on #429
I'm not certain but I suspect it is an SNI icon.

[2018-12-13 18:40] IvanMalison commented on #332
* nixos hicolor theme issues: https://github.com/NixOS/nixpkgs/issues/43836

[2018-12-15 10:40] dmvianna commented on #332
It seems the obvious thing would be to create a `.xprofile.example` file in the root directory of this project. I've been looking for @IvanMalison's  for a while, but you didn't make it public. This is what I have so far:
[code]

[2018-12-15 10:48] dmvianna commented on #332
Actually, another `dotfiles` repo under taffybar would be perfect.

[2018-12-15 22:17] dmvianna commented on #332
That's a very sane approach! However this takes the configuration instructions away from a simple list of programs that work well with Taffybar and moves it to a deeper discussion about how to structure X applications in a given Linux distribution.

I would love to have a writeout on how to implement the `systemd` approach using `nixos` configuration files.

[2018-12-16 01:30] IvanMalison commented on #332
@dmvianna I'm actually not really sure why you think any of this needs to live in the taffybar repository. I don't think that there is much that needs to be started for taffybar to run, other than:

- the XServer (this is pretty obvious and almost goes without saying)
- a window manager (this is also pretty obvious)
- dbus (this is already mentioned in the FAQ, and most users will probably find th

[2018-12-16 04:17] dmvianna commented on #332
A list of tools that are known to work well with taffybar? It is nice to get up to speed quick.

[2018-12-16 05:02] IvanMalison commented on #332
you mean ~/.config/taffybar right?

The single source of truth is this repository. Things have changed over time, but you can always look to the current state of the repository to figure out what to do as long as you are using the latest version or installing from source.

[2018-12-16 07:01] dmvianna commented on #332
Yes, `~/.config/taffybar`.

I really shouldn't drag this on.

You're right. However you're the main developer, so you don't need documentation for your own project. Other users might benefit from it. Things like a changelog help immensely to figure out if an issue is still relevant, or if gotchas ceased to exist. This is like brushing teeth. It is a good habit, and done routinely it doesn't feel l

[2018-12-26 19:30] chrissound opened #431 "error: attribute 'ghc862' missing, at (string):1:269 (use '--show-trace' to show detailed location information)"
[code]

Using the latest commit on `master` - 18f78af0f48099ffe1d599fb29c028789b384e3d.

[2018-12-26 19:31] chrissound commented on #431
Sorry, should have googled the error https://stackoverflow.com/questions/47916591/stack-build-error-attribute-ghc822-missing-at-string153.

[2018-12-26 19:31] #431 closed

[2019-01-09 06:19] simlu opened #432 "Installing taffybar on Ubuntu 18.04 MinimalCD"
Installing taffybar on xmonad + Ubuntu 18.04 [MinimalCD](https://help.ubuntu.com/community/Installation/MinimalCD) doesn't seem to work anymore. This used to work at some point using ubuntu 16.04.

I'm following this guide, however installing taffybar no longer work as described:
https://github.com/simlu/xmonad/blob/master/install.md

So I'm trying various alternative ways:

1) sudo apt-get instal

[2019-01-09 07:06] IvanMalison commented on #432
@simlu Did you read https://github.com/taffybar/taffybar#prerequisites ? Those are probably some of the missing dependencies.

[2019-01-10 03:02] simlu commented on #432
Thank you for the quick reply. I've gotten a bit further now, but there are still problems that prevent me from installing taffybar.

This is how far I've gotten:
[code]

At this point there was a problem with the xmonad version, so I uninstalled it.

[code]

Then tried to install taffybar with `cabal install taffybar`.

<details>
  <summary>Output Log</summary>

[code]

</details>

[2019-01-10 03:31] simlu commented on #432
I just figured that out as well! Installing `libxss-dev` allows to install `X11-1.9`.

Now onto updating the dbus library! Cheers!

[2019-01-10 03:34] IvanMalison commented on #432
@simlu Sorry I actually got it wrong. I think the issue might be that your dbus version might be too new, not too old. I'm going to release a new version of status-notifier-item because this is needed to make things work properly with a simple cabal install

(this is why we should put upper version bounds on requirements)

[2019-01-10 03:38] IvanMalison commented on #427
@rblaze Hmm changing the type of the interface like this has actually broken ( previously working) the cabal install command for taffybar.

I know that it was a small change, but you should consider a major version bump for dbus when you do something like that that changes the types of the exposed api. There is actually an upper version bound on dbus in the cabal file of taffybar (https://github.c

[2019-01-10 04:31] IvanMalison commented on #432
@simlu New version 3.1.0 should work for you.

[2019-01-10 07:59] simlu commented on #432
It gets further now, however still fails (sorry I was only able to get screenshots this time):

<details>
<summary>Output Logs</summary>

![p1](https://user-images.githubusercontent.com/1539747/50954171-814e6c00-146a-11e9-8fc9-d873374f8518.png)
![p2](https://user-images.githubusercontent.com/1539747/50954172-814e6c00-146a-11e9-855a-4f709085d92a.png)

</details>

[2019-01-10 21:05] IvanMalison commented on #423
@Magicloud so this issue:

https://github.com/haskell-gi/haskell-gi/wiki/Using-Cairo-with-haskell-gi-generated-bindings

has been resolved?

[2019-01-10 21:07] IvanMalison commented on #427
This is fixed by the new version of status-notifier-item

[2019-01-10 21:07] #427 closed

[2019-01-11 01:51] IvanMalison commented on #423
So i guess you are refering to cohomology/gi-cairo-render#1

[2019-01-11 01:51] IvanMalison commented on #423
I'm going to go ahead and upload it to hackage

[2019-01-11 02:57] Magicloud commented on #423
Thanks. Actually, there are some issues with gi-cairo-render, I think. The types are not the same thing with haskell-gi. And memory issue, I did not see reference/destroy being used as Cairo doc asked.

[2019-01-11 03:44] #423 closed

[2019-01-11 04:11] simlu commented on #432
@IvanMalison Oh boy. This ain't easy :)

So after doing
[code]

Finally doing
[code]
worked.

But now when running
[code]
I get

<details>
<summary>Output Logs</summary>

[code]

</details>

And the log file contains

<details>
<summary>Output Logs</summary>

[code]

</details>

Any idea what's going on now?

Really appreciate your help! I'm in pretty uncharted territory here....

PS: This used to

[2019-01-11 04:18] simlu commented on #432
When I run

`~/.cabal/bin/xmonad --recompile`

I get an error:

`Failed to load interface for System.Taffybar.Hooks.PagerHints`

[2019-01-11 04:18] IvanMalison commented on #432
So you're saying taffybar was able to compile correct?

not obvious to me

[2019-01-11 04:19] IvanMalison commented on #432
This moved to System.Taffybar.Support.PagerHints

[2019-01-11 04:20] IvanMalison commented on #432
@simlu My intention is actually to try to move this into xmonad contrib if the maintainers will let me because it is annoying that xmonad should depend on taffybar in any direct way.

[2019-01-11 04:40] simlu commented on #432
When I run taffybar (i.e. trying to compile?), I get

<details>
<summary>Output Logs</summary>

[code]

</details>

So I'm something went wrong somewhere...

The taffybar file I use is https://github.com/simlu/xmonad/blob/master/config/.config/taffybar/taffybar.hs

[2019-01-11 04:49] IvanMalison commented on #432
@simlu Yeah, things have just changed quite a bit since the time that you built that configuration file.

Just from glancing at your conf file i can see the following issues:

* The "pager" is no longer a thing -- you can use the workspaces, layout, and windows widgets to replicate that functionality
* import qualified Graphics.UI.Gtk as Gtk is no longer used. we've moved to haskell GI
* defaultTa

[2019-01-11 04:50] IvanMalison commented on #432
None of this should be too hard to fix, but you do have a quite a few custom widgets. Basically you'll need to include GI.Gtk and make small changes to the new interface, but its pretty similar and easy to figure out.

[2019-01-11 04:58] IvanMalison commented on #432
@simlu not sure why xmonad cant see the taffybar module.

IF you are running a taffybar binary then taffybar definitely installed succesfully and compiled.

[2019-01-11 05:19] IvanMalison commented on #432
You can check out the newly uploaded:

http://hackage.haskell.org/package/taffybar-3.1.1/docs/System-Taffybar-Widget.html

for details about widgets.

[2019-01-11 05:20] IvanMalison commented on #406
@anarcat @mgttlinger

I've uploaded documentation for the latest version. This is probably the most usefule page:

http://hackage.haskell.org/package/taffybar-3.1.1/docs/System-Taffybar-Widget.html

[2019-01-11 05:21] IvanMalison commented on #316
Closed in favor of #406

[2019-01-11 05:21] #316 closed

[2019-01-11 06:17] IvanMalison commented on #405
I'm closing this because I just don't think it makes sense for taffybar.

[2019-01-11 06:17] #405 closed

[2019-01-11 06:18] IvanMalison commented on #429
My guess is that this was #403

[2019-01-11 06:21] IvanMalison commented on #243
I haven't seen this for a really long time, so I'm going to close for now.

[2019-01-11 06:21] #243 closed

[2019-01-11 07:20] IvanMalison opened #434 "Add a nix travis build"

[2019-01-11 07:20] IvanMalison commented on #406
We'll need to do #434 first.

[2019-01-11 07:21] IvanMalison commented on #281
Plan is to move away from docker and to nix in #434

[2019-01-11 07:30] mgttlinger commented on #434
Is there a technical reason for that or just preference? (I don't want to criticize. I'm a happy NIxOS user. Just curious)

[2019-01-11 07:34] IvanMalison commented on #434
@mgttlinger
The docker images that we use need to have all dependencies preinstalled (or else the build will take too long and travis will time out). This has to be done manually, and the build image ends up being huge (over a GB) so it wouldnt be practical to try to upload a new version every time a build succeeds.

Nix has a better solution to this (individually caching the build outputs of each

[2019-01-11 20:06] IvanMalison commented on #280
Not sure we can reenable this build because it will simply take too long.

[2019-01-12 13:00] mdorman opened #435 "Fails to compile against gi-gdkpixbuf 2.0.18 on nixpkgs"
**Describe the bug**

Compilation fails with:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Attempted to build taffybar-3.1.1 against nixpkgs/HEAD + nixpkgs/haskell-updates

**Expected behavior**

Successful compilation. :smile:

[2019-01-12 21:45] IvanMalison commented on #435
Hmm. So it looks like there was a change to the interface (probably because an annotation was added):

http://hackage.haskell.org/package/gi-gdkpixbuf-2.0.16/docs/GI-GdkPixbuf-Objects-PixbufLoader.html#v:pixbufLoaderGetPixbuf

We currently build against gi-gdkpixbuf-2.0.16, so I guess we would need a version bound.

[2019-01-13 07:48] simlu commented on #432
@IvanMalison Thank you very much for all the suggestions. I've played around with it more, but couldn't get it to work unfortunately. Since I was running short on justifiable time I went (back) to xmobar and that was very easy to set up.

So I guess the suggestion here is to streamline the setup process. Hope to eventually return to taffybar (maybe with 20.04). Cheers for all your hard work! L~

[2019-01-13 10:03] IvanMalison commented on #432
a) It sounds like you got taffybar working to me. I'm pretty sure if you popped the current example configuration in things would work. Seems like you've just decided that you don't want to do the labor involved in moving it over.
b) This is what the quick-start.sh script is for
c) you are choosing a distro that just isnt going to be good for keeping up with the latest stuff because it isn't rolli

[2019-01-14 03:08] IvanMalison commented on #432
I still think you are misunderstanding something if you think that taffybar could have anything to do with xmonad failing to start. There must be some change you are making in your xmonad.hs that is causing this when you are running taffybar.

The only thing i can think of that would be different is the pager hook stuff.

I seriously doubt that. I'm sure that I, or any one who is familiar with has

[2019-01-18 04:03] IvanMalison commented on #435
@mdorman Any chance you can confirm that what is currently on master resolves this issue for you?

[2019-01-18 12:40] mdorman commented on #435
Not until the weekend, but I will enthusiastically check then!

[2019-01-20 19:44] mdorman commented on #435
Worked great!

[2019-01-20 20:07] IvanMalison commented on #435
@mdorman Great. I'll upload a new version!

[2019-01-23 05:17] ksevelyar opened #436 "quick-start.sh raises Could not find module ‘GI.Cairo.Structs.Pattern’"
**Describe the bug**

`curl -sSL https://raw.githubusercontent.com/taffybar/taffybar/master/quick-start.sh | bash` returns  errors:

[code]

[code]

**To Reproduce**

[code]

Add to `~/.config/taffybar/stack.yaml`:

[code]

run `curl -sSL https://raw.githubusercontent.com/taffybar/taffybar/master/quick-start.sh | bash` again

And after this installation fails on `Could not find module ‘GI.Cairo.St

[2019-01-23 07:02] IvanMalison commented on #436
Hey @ksevelyar Thanks for reporting this issue!

I think the issue should be as simple as removing the gtk2hs-build tools install (it is no longer needed), and bumping a few dependencies in stack.yaml.example. I'll take a look soon!

[2019-02-04 15:41] legrostdg commented on #158
Any update on this?

[2019-02-04 15:48] legrostdg commented on #158
`stack` seems to support `run` natively (since 1.9.1)

[2019-02-04 17:13] IvanMalison commented on #158
@legrostdg Ahh cool. What we actually need is a library function that is capable of running things in the correct environment. I'll need to look at whether or not stack itself exposes these things.

[2019-02-04 17:14] IvanMalison commented on #158
@legrostdg For the time being, though, it should suffice to simply make an executable that goes to the appropriate directory and calls `stack run`

[2019-02-08 19:25] MuratOzsoyler commented on #435
Has the new version been loaded? Still getting the same error.

[2019-02-08 21:38] IvanMalison commented on #435
@MuratOzsoyler taffybar needs a new release, but if you compile against master, things hsould work just fine!

[2019-02-08 22:23] MuratOzsoyler commented on #435
Thank you for replying. I  am in the process of installing NixOs and tried
to use taffybar. If new version is not ready I can wait for a while....

Regards,

Murat Özsöyler

Ivan Malison <notifications@github.com>, 9 Şub 2019 Cmt, 00:38 tarihinde
şunu yazdı:

[2019-02-09 15:43] qrilka opened #438 "HTTP fails to get weather using HTTPS"
**Describe the bug**
Weather widget uses `HTTP` library to get weather information but  http://tgftp.nws.noaa.gov redirects to https://tgftp.nws.noaa.gov and `HTTP` can't handle HTTPS so no weather gets retrieved

**To Reproduce**
Use weather widget

**Expected behavior**
Weather information gets retrieved and displayed

**Version information**
Taffybar version (or git sha if building from source)

[2019-02-09 17:02] IvanMalison commented on #438
@qrilka A PR would be greatly appreciated.

[2019-02-09 22:38] #438 closed

[2019-02-11 02:30] IvanMalison commented on #435
@mdorman @MuratOzsoyler A new version that fixes this has been released. Let me know if there are any further issues.

[2019-02-11 02:30] #435 closed

[2019-02-21 00:18] IvanMalison commented on #281
I think keeping docker around will still be useful for testing stack builds

[2019-02-24 01:19] h-jones-uk opened #441 "Segmentation fault when using SNI tray"
**Describe the bug**
I get a segmentation fault when using the [example configuration](https://github.com/taffybar/taffybar/blob/master/taffybar.hs.example). I've narrowed it down to just the SNI tray; if I remove that widget then Taffybar works as expected.

**To Reproduce**
Using GHC 8.6.3,

Cabal file:
[code]
my-taffybar.hs:
[code]
Output from running my-taffybar:
[code]

**Version information*

[2019-02-24 10:11] IvanMalison commented on #441
Can you also enable the tray logger?

"StatusNotifier.Tray"

[2019-02-24 10:13] IvanMalison commented on #441
Thanks for following the bug reporting instructions to a tee and also enabling the logger, btw.

[2019-02-24 10:14] IvanMalison commented on #441
Another thing that might be instructive here is trying to run the gtk-sni-tray-standalone executable. Does that also segfault?

[2019-02-25 07:58] IvanMalison commented on #441
@h-jones-uk Might also be useful to know versions of dbusmenu libs etc.

[2019-02-27 01:06] #385 closed

[2019-02-27 03:41] IvanMalison commented on #441
@h-jones-uk ping. Are you using nixos? Could you give me your exact system configuration so I can play around with it?

[2019-02-27 03:41] IvanMalison commented on #436
@ksevelyar did that work, can I close this?

[2019-02-27 03:54] IvanMalison commented on #332
Taffybar has documentation (see e.g https://hackage.haskell.org/package/taffybar-3.1.1/docs/System-Taffybar-Widget.html and https://hackage.haskell.org/package/taffybar-3.1.1)

It could be better, as some things are not documented, but  as for things like you mentioned above e.g.

you can look here:

https://hackage.haskell.org/package/taffybar-3.1.1/docs/System-Taffybar-SimpleConfig.html

@dmvian

[2019-02-27 07:27] IvanMalison opened #442 "Migrate to new cabal build"
We get the following message when building:

Warning: The configure command is a part of the legacy v1 style of cabal
usage.

Please switch to using either the new project style and the new-configure
command or the legacy v1-configure alias as new-style projects will become the
default in the next version of cabal-install. Please file a bug if you cannot
replicate a working v1- use case with the n

[2019-03-03 20:12] h-jones-uk commented on #441
I think I've made progress towards isolating and reproducing this issue.

The segfault does not happen until I start udiskie; I can be running just pasystray and have a working taffybar. The problem appears to have been introduced when nixpkgs switched from `gtk+3-3.22.30` to `gtk+3-3.24.1`.

Here is a script using `gtk-sni-tray-standalone` to demonstrate:
  - [script](https://gist.github.com/h-jo

[2019-03-05 01:01] h-jones-uk commented on #441
I think these lines in my `configuration.nix` were responsible:
[code]
That must have been a hack I copied from somewhere to get `breeze-icons` to work.

If I unset the environment variable then `gtk-sni-tray-standalone` no longer segfaults, but quits after displaying a warning about a missing icon:
[code]

After removing the environment variable and replacing `breeze-icons.out` with `gnome3.adwai

[2019-03-05 01:55] IvanMalison commented on #441
@h-jones-uk It's still strange that a segfault occurs at all. There's probably some case that is not being handled here.

Were you ever able to enable the "StatusNotifier.Tray" logger?

[2019-03-05 01:56] IvanMalison commented on #441
Hmmm. I don't think it should quit after that warning. I'm going to look in to this further.

[2019-03-05 02:00] IvanMalison commented on #379
@iamjamestl This is fixed now, correct?

@ARR8 Can you verify?

[2019-03-05 02:00] #379 closed

[2019-03-05 02:01] IvanMalison commented on #352
Not really a problem. Just need to be published to hackage.

@amurrayc Any chance you want to make a pull request?

[2019-03-05 02:11] iamjamestl commented on #379
@IvanMalison, the window widget has been working for me as expected since #418 was merged.

[2019-03-05 09:03] IvanMalison commented on #276
Use notifications tray icon linked above

[2019-03-05 09:03] #276 closed

[2019-03-05 12:00] h-jones-uk commented on #441
If I run my original test program with the "StatusNotifier.Tray" logger also enabled in an environment that has `breeze-icons.out` installed then I get
[code]
after which the program exits with exit code 1.

If I run it in an environment without any icon themes installed it doesn't crash and just displays no icons:
[code]

[2019-03-06 01:24] amurrayc commented on #352
Absolutely.  Sorry for the delay: life and computer failure got in the way.

I'm just looking over the modifications to check they still make sense.  (Also I see some new channel stuff in Information/Chrome.hs which I will look at too.)

[2019-03-06 20:31] IvanMalison opened #443 "Allow graph labels to appear inside the area of a graph"
This would look better (IMO) and conserve space.

[2019-03-15 19:53] bgamari opened #445 "upowerd change registration very wasteful"
**Describe the bug**

Currently `System.Taffybar.Information.Battery.registerForAnyUPowerPropertiesChanged` registers to be notified of any change in any properties. This essentially means that taffybar will be triggered to update every time upowerd polls not only because the battery is constantly changing charge state but also because changing system load means that the time-to-empty projection w

[2019-03-16 23:21] #445 closed

[2019-03-16 23:29] IvanMalison commented on #445
@bgamari I've changed things so that by default we will only actually do updates if any of these properties are updated.

[code]

Users can tweak which properties cause updates by calling `setupDisplayBatteryChanVar` with their own list of properties and running that as a hook i.e.:

[code]

[2019-03-17 01:46] bgamari commented on #445
Great, thanks!

[2019-03-18 01:29] IvanMalison commented on #441
The image issue is the same as #403

[2019-03-18 01:29] #441 closed

[2019-03-23 02:43] IvanMalison commented on #352
@amurrayc Is the code in that branch ready to go? I can pick it up from here if you want.

[2019-03-23 18:50] amurrayc commented on #352
Just about to push a tidier version.  Later today.

[2019-03-31 05:02] #352 closed

[2019-04-04 14:09] Magicloud commented on #394
Latest hackage version grows from 1G to 2.5G resident memory for me. No high CPU usage observed.

[2019-04-05 17:32] clinty opened #447 "unhelpful Workspaces error"
A config that works fine on one machine fails on another with

[code]

Removing `workspacesNew defaultWorkspacesConfig` as a startWidget makes that error go away.  Why?

[2019-04-10 20:56] CaninoDev commented on #436
I have the following in my stack.yaml
[code]
and get the same error as above:
[code]
And how do I remove gtk2hs-build tools?

[2019-04-10 23:23] IvanMalison commented on #436
@CaninoDev You need to remove
[code]

[2019-04-11 01:41] CaninoDev commented on #436
I did as suggested and removed `- gtk3-0.15.1@sha256:86cdd17df569aa641835e5bcae304bc405aa397469888a0540860cfc050b788d
`
and received the following error:
[code]

[2019-04-11 14:24] wizzup commented on #434
I would love to help on this but it seem current `default.nix` is unable to build.

If nix expression is buildable, getting a [cachix](https://cachix.org/) host could be benefit to all nix users.

[code]

[2019-04-26 12:50] ksevelyar commented on #436
@IvanMalison sorry for the late answer, still no luck:

[code]

[code]

When I add dependencies to the `/home/ksevelyar/.config/taffybar/stack.yaml`:

[code]

[code]

The same error on two different laptops with Arch Linux.

[2019-04-26 13:01] ksevelyar commented on #436
@IvanMalison Should I remove `gtk2hs-build` manually from any other config?

[2019-04-28 19:41] #420 closed

[2019-05-05 19:44] u11gh commented on #428
Started working on it [here](https://github.com/u11gh/taffybar/tree/fix%23428). (Though at the moment it's more like a "proof of concept".)

[2019-05-05 20:00] IvanMalison commented on #428
@u11gh I think it would be better if we autogenerated a dbus client for pulseaudio.

For an example of how to do this see:

https://github.com/taffybar/taffybar/blob/master/src/System/Taffybar/DBus/Client/MPRIS2.hs

or anything in

https://github.com/taffybar/taffybar/blob/master/src/System/Taffybar/DBus/Client

[2019-05-06 16:07] u11gh commented on #428
I already checked those files, but I found it much easier to start from
scratch.  That's probably because I have absolutely no experience with
dbus.  (BTW: Progress will slow down as I don't have much time.)

[2019-05-06 16:54] IvanMalison commented on #428
@u11gh I can make the client for you if you want. It will automatically generate haskell functions to call all of the functions/attach signals/get values of properties that you want. It will be a lot tidier than manually making the function calls yourself.

[2019-05-06 19:05] u11gh commented on #428
@IvanMalison

Thanks.  For now I'd like to keep it simple.

Reading and writing the 'Volume' property works already.  What doesn't
work (yet) is listening to the 'VolumeUpdated' signal.  I'll see to it.

[2019-05-06 20:44] LindyBalboa commented on #436
Running into the same issue trying to install via stack on Arch.

[2019-05-06 21:11] LindyBalboa commented on #436
I got a step further by setting `- gi-gdkx11-3.0.4` as opposed to `3.0.2` in stack.yaml based on what I read on the [AUR](https://aur.archlinux.org/packages/haskell-gi-gdkx11/). Now I get the following:

[code]

[2019-05-15 18:06] teleshoes commented on #261
@IvanMalison calendar still opens half-hidden for me, the first time you open it after starting taffybar (closing calendar and reopening it works)

[2019-05-15 18:43] IvanMalison commented on #261
@u11gh Can you comment?

[2019-05-15 19:04] u11gh commented on #261
I'm not sure what "half-hidden" means.  Does the calendar window cover
taffybar?  Or is part of the calendar window invisible (either covered
by another window or outside the screen)?

@teleshoes Could you please provide a screenshot?

[2019-05-15 19:38] IvanMalison commented on #261
for me, the calendar spawns just above the taffybar window atm

[2019-05-15 20:53] teleshoes commented on #261
@u11gh it still looks exactly the same as my previous screenshots above.

my calendar is right-aligned on my taffybar. the first time i open the calendar, sunday-wednesday show up, and thursday-saturday are cut off (at the edge of the screen) and not visible. the first screenshot is the topright corner of my monitor, with the calendar half-showing like this.
closing the calendar and reopening it s

[2019-05-16 17:47] u11gh commented on #261
@teleshoes Thanks for clarifying

So the calendar does not hide taffybar anymore.  Good.  Vertical
placement works correctly. That's what has been fixed with #261.

The horizontal placement problem that you describe still needs to be
fixed.  When I try to reproduce that behaviour I see the opposite
effect: The first click on a clock that is placed at the right edge will
open the calendar shifted t

[2019-05-17 01:33] teleshoes commented on #261
@u11gh thanks!

p.s. ...actually vertical is still broken for me with `c33f6785`.
it still covers taffybar instead of appearing beneath it, completely covering the clock widget

[2019-05-24 16:09] petercommand commented on #394
Seems that if I fill up my TMP/TMPDIR, taffybar becomes unresponsive and uses ~100% cpu

[2019-05-28 05:18] Magicloud commented on #394
Observed that, when there is systray icon, the memory usage grows like crazy. Without any systray icon (with systray widget and functions), the growth is quite unnoticable.

[2019-06-04 19:52] IvanMalison opened #452 "Toggling taffybar through dbus does not work when compiled with nix"
This is because the data directory is in the nix store, which is immutable, and cannot be written to. The dbus server writes the current toggleState to a file in this directory every time it receives a request so that the state can be restored upon restart.

The error will look like:

[code]

[2019-06-04 19:54] IvanMalison commented on #452
We should probably solve this by writing this file to the XDG_DATA directory instead the data path for the module.

We may also want to considering making the file writing optional.

[2019-06-04 19:55] IvanMalison commented on #447
@clinty I'm getting this now as well and investingating. I think it may have to do with ghc version for some reason, since I wasn't having this issue until I started using the newest version of ghc.

@clinty Can you tell me what you are using to compile taffybar?

[2019-06-04 21:21] clinty commented on #447
GHC 8.4.4

[2019-06-04 21:47] #447 closed

[2019-06-04 21:51] IvanMalison commented on #447
@clinty your original title was kind of passive aggresive btw. The error arose because an unsafe function (read) was being used when parsing DesktopEntries, taffybar does not have control over what this error looks like.

This error should only appear for people that have a XDGDesktopEntry that can't be Read as this datatype, which is why it hasnt been encountered until recently.
[code]

[2019-06-04 22:54] IvanMalison commented on #261
@u11gh @teleshoes Vertical placement does seem to be fixed for me, but I remember looking at this when @teleshoes originally commented that it wasn't fixed and seeing that it WAS covering the bar. @teleshoes can you still repro?